.action-dropdown {
  width: rem-calc(207px);
  position: relative;

  &_title-wrapper {
    background: $summer;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

    .title {
      color: $black;
      height: rem-calc(30px);
      display: block;
      line-height: rem-calc(32px);
      padding: 0 1rem;
      font-size: rem-calc(13px);
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
    }

    .title::after {
      background-image: url('../assets/icons/icon_arrow_down.svg');
      display: block;
      position: absolute;
      content: ' ';
      height: rem-calc(16px);
      width: rem-calc(16px);
      top: 0.45rem;
      right: 0.6rem;
    }
  }

  .title.isOpen::after {
    background-image: url('../assets/icons/icon_arrow_up.svg');
  }

  &_option-wrapper {
    position: absolute;
    right: 1px;
    left: 1px;
    background: #fff;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      max-height: 0px;
      overflow: hidden;

      @include transition(0.3s, max-height, ease);

      &.is-open {
        height: auto;
        max-height: 250px;
      }
    }

    .option {
      height: rem-calc(30px);
      line-height: rem-calc(30px);
      font-size: rem-calc(14px);
      background-color: $white;

      a {
        padding: 0 1rem;
        color: $black;
        display: block;
      }
    }
    .option:hover {
      background-color: $engel-lighter;
    }
  }
}
