.rent-calculator {
  &__button-wrapper {
    padding-top: rem-calc(5px);
    padding-bottom: rem-calc(10px);

    @include breakpoint(medium down) {
      text-align: right;
    }
  }

  &__rents-container {
    position: relative;
    padding: rem-calc(15px 15px 5px);
    background-color: #f9fcfb;
    margin-top: rem-calc(5px);
    margin-bottom: rem-calc(10px);
    min-height: 72px;
  }

  &__rent {
    &:last-child {
      margin-bottom: 0;
    }

    &_amount {
      text-align: right;
      white-space: nowrap;
      overflow: visible !important;
    }
  }

  &__explanation{
    &_amount {
      text-align: right;
      white-space: nowrap;
      overflow: visible !important;
    }
  }

  &__sub-item{
    &_amount {
      text-align: right;
      white-space: nowrap;
      overflow: visible !important;
    }
  }
}
