@use "sass:color";

.AreaSearchApplicantInfoCheck {
  &,
  span,
  a {
    font-size: $font-small;
  }

  .row {
    line-height: 1.5rem;
  }
}

.AreaSearchApplicantInfoCheckEdit {
  &,
  span,
  a {
    font-size: $font-small;
    color: black;
  }

  .AreaSearchApplicantInfoCheckEditItem--dirty {
    .column:nth-child(2) > * {
      background-color: color.adjust($is-dirty-color, $lightness: -5%);
    }
  }
}
