@use "foundation-sites/scss/foundation" as *;
@use "../../styles/variables";

.collapse.AreaSearchStatusNoteHistory {
  > .collapse__header {
    .collapse__header_title {
      font-size: variables.$font-small;
      color: variables.$blue;
    }

    .icons {
      stroke: variables.$blue;
      fill: variables.$blue;
    }
  }

  .AreaSearchStatusNoteHistory__item {
    font-size: variables.$font-small;
    padding: rem-calc(16px) 0;

    &:first-child {
      padding-top: 0;
    }

    p {
      margin: rem-calc(4px) 0 0 0;
      padding: 0;
    }

    + .AreaSearchStatusNoteHistory__item {
      border-top: 1px solid variables.$gray-separator;
    }
  }
}
