.rent-criteria-page {
  width: 100%;
  padding: rem-calc(20px);

  &__upper-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc(20px);

    .rent-criteria-info-wrapper {
      flex: 1 1 0%;
    }
  }

  &__info {
    &__label {
      font-size: $font-small;
      color: $dark-gray;
      line-height: normal;
      margin-bottom: rem-calc(2px);
    }
    &__number {
      font-size: $font-xlarge;
      font-weight: $semibold;
      line-height: rem-calc(30px);
    }
    &__type {
      margin-bottom: 0;
      line-height: 1.2;
    }
  }
}
