.control-buttons {
  display: flex;
  float: right;

  .comment-button {
    display: inline-block;
    padding: none;
    outline: none;
    margin-left: 3rem;
    margin-right: 1rem;
    cursor: pointer;

    img {
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
