.lease-page {
  min-height: calc(100vh - 70px);
  display: block;
  width: 100%;
  padding: 2.5rem 1rem 0;
  &__tab-content {
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.07);
    padding: 2rem 1.25rem;
    h1 {
      text-transform: uppercase;
      font-size: $font-xlarge;
      font-weight: $semibold;
      margin-bottom: 1.6rem;
      display: inline-block;
      width: 70%;
    }
    h1:not(:first-child) {
      margin-top: 2rem;
    }
    .right-subtitle {
      display: inline-block;
      float: right;
      text-align: right;
      line-height: 2.4;
      font-weight: $semibold;
    }
  }
  &__upper-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    .lease-info-wrapper {
      flex: 1 1 0%;
    }
  }
}
