.lease-page {
  min-height: calc(100vh - 70px);
  display: block;
  width: 100%;
  padding: rem-calc(20px);

  &__tab-content {
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.07);
    padding: 2rem 1.25rem;

    h1 {
      text-transform: uppercase;
      font-size: $font-xlarge;
      font-weight: $semibold;
      margin-bottom: rem-calc(20px);
      display: inline-block;
      width: 70%;
    }

    h1:not(:first-child) {
      margin-top: 2rem;
    }

    .no-margin {
      margin: 0;
    }

    h2 {
      font-size: 1.125rem;
      font-weight: 600;
      color: $tram;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem;
    }

    .right-subtitle {
      display: inline-block;
      float: right;
      text-align: right;
      line-height: 2.4;
      font-weight: $semibold;
    }
  }

  &__upper-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc(20px);

    .lease-info-wrapper {
      flex: 1 1 0%;
    }
  }

  .separator-line {
    width: 100%;
    border-top: 1px dashed $tram;
    margin-bottom: 1rem;

    &.no-margin {
      margin: 0;
    }
  }

  .publicity-label {
    text-align: right;
    font-size: 16px;
    line-height: 2.4;
    font-weight: $semibold;
    color: $tram;
  }
}
