.lease-page {
  min-height: calc(100vh - 70px);
  display: block;
  width: 100%;
  padding: rem-calc(20px);

  &__tab-content {
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.07);
    padding: 2rem 1.25rem;

    h1 {
      text-transform: uppercase;
      font-size: $font-xlarge;
      font-weight: $semibold;
      margin-bottom: rem-calc(20px);
      display: inline-block;
      width: 70%;
    }

    h1:not(:first-child) {
      margin-top: 2rem;
    }

    .no-margin {
      margin: 0;
    }

    h2 {
      font-size: 1.125rem;
      font-weight: 600;
      color: $tram;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem;
    }

    .right-subtitle {
      display: inline-block;
      float: right;
      text-align: right;
      line-height: 2.4;
      font-weight: $semibold;
    }
  }

  .publicity-label {
    text-align: right;
    color: $tram;
    font-size: $font-regular;
    line-height: rem-calc(25px);
    font-weight: $semibold;
    margin-bottom: 0;
  }

  .billing-status {
    .alert {
      color: $brick !important;
      text-align: right;
      font-weight: $semibold;

      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon-alert.svg);
        display: inline-block;
        margin-left: rem-calc(5px);
      }
    }

    .success {
      color: $tram !important;
      text-align: right;
      font-weight: $semibold;

      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon_checked.svg);
        display: inline-block;
        margin-left: rem-calc(5px);
      }
    }
  }

  .construction-eligibility {
    &__comment-item {
      border-top: 1px dashed #009246;
      padding: rem-calc(20px) 0;
      position: relative;

      .explanation {
        p {
          margin-bottom: 0;
        }

        p.info {
          font-size: $font-small;
        }
      }

      &.no-comments {
        border-top: none;
        padding: 0;
        p {
          margin: 0;
        }
      }
    }
    &__comment-item:last-child {
      padding-bottom: 0;
    }
  }

  .tenants {
    &__address {
      p {
        margin: 0 0 rem-calc(4px);
      }

      .subtitle {
        font-size: $font-regular;
        font-weight: $semibold;
        color: $black;
        margin: 0 0 rem-calc(5px);
      }

      .comment {
        margin-top: rem-calc(20px);
      }

      .alert {
        color: $brick;
      }
    }
  }
}
