.multi-select {
  &__none-selected {
    color: $medium-dark-gray;
  }

  &__panel {
    box-sizing: border-box;
  }

  &__dropdown {
    position: relative;
    box-sizing: border-box;
    outline: none;

    &-content {
      border-radius: 0;
      background-color: $white;
      box-sizing: border-box;
      margin-top: -1px;
      max-height: 300px;
      position: absolute;
      top: 100%;
      min-width: 100%;
      z-index: 1;
      overflow-y: auto;
      box-shadow: 0 1px 0 1px $blue;
      border: 1px solid $blue;
      border-bottom: none;
      border-radius: 0;
      width: auto;
      z-index: 500;
    }

    &-heading {
      box-sizing: border-box;
      background-color: $white;
      border-radius: 0;
      border: 1px solid $medium-gray;
      color: $black;
      cursor: default;
      display: table;
      border-spacing: 0;
      border-collapse: separate;
      height: rem-calc(20px);
      outline: none;
      overflow: hidden;
      position: relative;
      width: 100%;
      font-size: rem-calc(14px);

      &.is-expanded {
        outline: none;
        border: 1px solid $blue;
        box-shadow: 0 0 0 1px $blue;
      }

      &.is-focused {
        outline: 2px dotted $blue;
        outline-offset: 0px;
      }

      &-value {
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        color: $black;
        line-height: rem-calc(18px);
        padding: rem-calc(0 20px 0 5px);
        position: absolute;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.disabled {
          opacity: 0.5;
        }
      }
    }

    &-loading {
      &-container {
        cursor: pointer;
        display: table-cell;
        width: 16px;
      }

      &-indicator {
        width: 14px;
        height: 14px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid $medium-dark-gray;
        border-right-color: $black;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        animation: loaderSpinner .7s infinite linear;
        -webkit-animation: loaderSpinner .7s infinite linear;
      }
    }

    &-arrow {
      box-sizing: border-box;
      cursor: pointer;
      display: table-cell;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 12px;
      padding-right: 5px;

      &-down {
        display: block;
        background-image: url(/assets/icons/icon_arrow_down.svg);
        height: 12px;
        width: 12px;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 50%;
      }

      &-up {
        display: block;
        background-image: url(/assets/icons/icon_arrow_up.svg);
        height: 12px;
        width: 12px;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }

  &__select-list {
    margin: 0;
    padding-left: 0;

    &-item {
      list-style: none;
    }
  }

  &__select-item {
    box-sizing: border-box;
    background-color: $white;
    color: $black;
    cursor: pointer;
    display: block;
    padding: rem-calc(3px 5px);

    &.is-focused {
      background-color: $light-blue;
      outline: 0;
    }

    &-renderer {
      display: flex;
      align-items: center;


      input {
        margin: 0;
      }

      &-label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding: rem-calc(0 5px);
        white-space: nowrap;

        &.disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

@-webkit-keyframes loaderSpinner {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}

@keyframes loaderSpinner {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}
