{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow",
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "$src": "./src",
        "$assets": "./assets",
        "$components": "./src/components",
        "$util": "./src/util",
      }
    }]
  ]
}
