/coverage/
/node_modules/
/flow-typed/
/.nyc_output/
.env
.env.demo
.env.staging
.DS_Store
yarn-error.log
npm-debug.log
/dist/
/log

report.*.json

docker-compose.override.yml
docker-compose.dev.yml
.idea
mvj-ui.iml
.devcontainer
.vscode
jsconfig.json
start.sh