# Ensures yarn.lock isn't automatically updated, e.g. with `yarn install`.
# Specific to Yarn v1.
# In Yarn v2 and above, the option is called `enableImmutableInstalls` in .yarnrc.yml instead.
# To upgrade dependencies, you'll need to use either of the following:
#   1) yarn install --no-frozen-lockfile
#   2) yarn upgrade <package-name>@<version>
--install.frozen-lockfile true
