.application{
  &__white-stripes{
    background: repeating-linear-gradient(
      135deg,
      #acacac46,
      #acacac46 1.41px,
      #efefef46 1px,
      #efefef46 6px
    );
    background-color: #fff;
  }
  &__input{
    input{
      background-color: #ffffff88;
    };
    textarea{
      background-color: #ffffff88;
    };
    .select-input__control{
      background-color: #ffffff88;
    };
    .option-label{
      width: 100%;
    }
  }
}

.application-preview-section {
  .form-field__checkbox {
    display: flex;
    flex-direction: column;

    > label .form-field {
      display: inline-block;
      width: auto;
    }
  }

  .form-field__textarea {
    margin-bottom: rem-calc(10px);
  }

  .form-field__radio-button-inline fieldset {
    display: flex;
    flex-direction: row;
  }
}
