@use "foundation-sites/scss/foundation" as *;
@use "../../styles/variables";

.toastr {
  &__icons {
    width: rem-calc(32px);
    height: rem-calc(32px);
    fill: variables.$white;
    stroke: variables.$white;

    #Artboard {
      fill: variables.$white;
    }
  }
}

.redux-toastr {
  .toastr {
    border-radius: 0;
    font-family: variables.$font-family-helsinki-grotesk;
    font-weight: variables.$semibold;

    &.rrt-error {
      background-color: variables.$red;
    }

    &.rrt-success {
      background-color: variables.$blue;
    }

    .rrt-left-container {
      width: 100%;
      position: absolute;
      top: auto;
      bottom: 0;
      height: rem-calc(72px);

      .rrt-holder {
        height: rem-calc(52px);
        top: auto;
        margin-top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -16px;

        svg {
          display: block;
        }
      }
    }
    .rrt-middle-container {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: rem-calc(20px 20px 64px);
    }

    .rrt-right-container {
      display: none;
    }
  }
}
