.mvj-button {
  font-size: $font-small;
  font-family: $font-family-source;
  font-weight: 600;
  color: $black;
  background: $summer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  height: rem-calc(30px);
  padding: 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: rem-calc(0 7.5px);
  white-space: nowrap;

  &:hover {
    background-color: $summer-lighter;
  }

  &:disabled {
    background-color: $medium-dark-gray !important;
    color: $white !important;
    opacity: 1;
    cursor: not-allowed;
  }

  &.button-green {
    background-color: $tram;
    color: $white;

    &:hover {
      background-color: $tram-lighter;
    }
  }

  &.button-red {
    background-color: $brick;
    color: $white;

    &:hover {
      background-color: $brick-lighter;
    }
  }

  &.button-xs {
    height: rem-calc(26px);
  }

  &.no-margin {
    margin: 0;
  }

  &.no-margin-right {
    margin-right: 0;
  }

  &.full-width {
    width: 100%;
  }

  &.pull-right {
    float: right;
  }

  &.button-map {
    position: absolute;
    top: rem-calc(10px);
    right: rem-calc(10px);
    z-index: 1001;
  }
}

.icon-button-component {
  cursor: pointer;
  position: relative;
  top: rem-calc(-1px);

  &:hover {
    .icons {
      fill: $tram_hover !important;
    }
  }

  &:disabled {
    cursor: not-allowed;

    .icons {
      fill: $dark-gray !important;
    }
  }

  &.position-topright {
    position: absolute;
    top: 0;
    right: 0;
  }
}
