.mvj-button {
  font-size: rem-calc(13px);
  font-family: $font-family-source;
  font-weight: 600;
  color: $black;
  background: $summer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  height: rem-calc(30px);
  padding: 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 0.5rem;
  white-space: nowrap;

  &:hover {
    background-color: $summer-lighter;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.button-green {
    background-color: $tram;
    color: $white;
    &:hover {
      background-color: $tram-lighter;
    }
  }

  &.button-red {
    background-color: $brick;
    color: $white;
    &:hover {
      background-color: $brick-lighter;
    }
  }

  &.button-xs {
    height: rem-calc(26px);
  }

  &.no-margin {
    margin: 0;
  }
  &.full-width {
    width: 100%;
  }

  &.button-map {
    position: absolute;
    top: rem-calc(10px);
    right: rem-calc(10px);
    z-index: 1001;
  }
}
