@use "foundation-sites/scss/foundation" as *;
@use "../../styles/variables";
@use "../../styles/mixins";

.icon-radio-buttons {
  display: inline-block;

  legend {
    visibility: hidden;
    position: absolute;
  }
  .option {
    display: inline-block;
    margin-bottom: rem-calc(5px);
  }

  .label {
    height: rem-calc(20px);
    display: flex;
    align-items: center;
    padding: rem-calc(0 5px);
    background: none;
    cursor: pointer;

    @include mixins.focus();

    &:hover {
      outline: none;
    }
  }

  .label:first-child {
    padding-left: 0;
  }

  .label:last-child {
    padding-right: 0;
  }

  .radio {
    display: none;
    margin: 0;
  }

  .option-label {
    color: variables.$blue;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-weight: variables.$semibold;
    display: inline-block;
    text-align: center;
    border-radius: 0;
    padding: rem-calc(0 5px);
  }

  .icons {
    fill: variables.$blue !important;
  }

  .radio:checked + .option-label {
    color: variables.$black;
    background: transparent;
    border: none;
  }

  .radio:checked ~ .icons {
    fill: variables.$black !important;
  }
}
