.styled-checkbox-buttons {
  display:inline-block;

  .label {
    padding: 0;
    margin: 0 rem-calc(5px) rem-calc(5px);
    background: none;

    @include focus();

    &:hover {
      outline: none;
    }
  }

  .label:first-child {
    margin-left: 0;
  }

  .label:last-child {
    margin-right: 0;
  }

  .checkbox {
    display: none;
    margin: 0;
  }

  .option-label {
    text-transform: uppercase;
    color: $black;
    background-color: $white;
    border: none;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    height: rem-calc(30px);
    line-height: rem-calc(30px);
    border-radius: 0;
    padding: 0 1rem;

    &:hover {
      background-color: #E6E6E6;
    }

    @include transition(0.2s, all, ease);
  }

  .checkbox:checked + .option-label {
    background: $tram;
    border: none;
    color: $white;
  }
}

@media screen and (max-width: 900px) {
  .document-type-wrapper {
    display: none;
  }
}
