.add-new-button {
  @include lightButton;
  margin: 0 rem-calc(15px);
}

.data-box {
  flex: 1;
  padding: 2rem;
  margin: 1rem;
  border: 1px solid #eee;

  &.borderless {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 2rem 4rem;
    border: none;
    margin: 1rem 0;
  }

  &__header {
    display: flex;
    flex-direction: row;

    .identifier {
      display: block;
      color: $dark-gray;
      font-size: .9rem;
    }

    h2 {
      flex: 1;
      flex-basis: 40%;
      font-size: rem-calc(22px);
      color: $primary-color;
    }

    &--item {
      flex: 1;
      font-size: rem-calc(22px);

      &.main {
        flex-basis: 40%;
        text-align: right;
      }
    }
  }

  &__content {
    margin: rem-calc(15px 0 0 0);
    h3 {
      font-size: .9rem;
      color: $dark-gray;
      text-transform: uppercase;
    }

    &--section {
      margin-bottom: 2rem;
    }
  }

  &__controls {
    display: flex;

    .edit {
      color: $primary-color;
      text-transform: uppercase;
      font-size: .9rem;
      cursor: pointer;
    }
  }
}
