.mvj-application-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    @include transition();
    padding: rem-calc(20px);
    border-bottom: 1px solid $light-gray;
    display: flex;
    align-items: center;

    &:nth-child(even) {
      background: $lightest-gray;
    }

    &:hover {
      background: darken($lightest-gray, 5%);
    }

    &.active {
      background: darken($lightest-gray, 15%);
    }

    &--header {
      font-weight: 400;
      font-size: 1rem;
      line-height: rem-calc(24px);
      margin-bottom: rem-calc(10px);
    }

    &--content {
      font-weight: 600;
      flex: 1;

      > span {
        font-size: 1rem;
        line-height: rem-calc(24px);
      }

      .content--company {
        color: $primary-color;
        display: block;
      }

      .content--name {
      }
    }

    &--actions {
      button {
        @include button();
        margin: 0 5px 0 0;
      }
    }
  }
}
