.mvj-application-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    @include transition();
    padding: rem-calc(20px);
    border-bottom: 1px solid $light-gray;
    cursor: pointer;

    &:nth-child(even) {
      background: $lightest-gray;
    }

    &:hover {
      background: darken($lightest-gray, 5%);
    }

    &.active {
      background: darken($lightest-gray, 15%);
    }

    &--header {
      display: flex;

      > span {
        flex: 1;
        font-size: 1rem;
        line-height: rem-calc(24px);
        margin-bottom: rem-calc(10px);
      }

      .header--id {

      }

      .header--date {
        text-align: right;
      }
    }

    &--content {
      font-weight: 600;

      > span {
        font-size: 1rem;
        line-height: rem-calc(24px);
      }

      .content--company {
        color: $primary-color;
        display: block;
      }

      .content--name {
      }
    }
  }
}
