.billing {

  &__navigation {
    bottom: 0;
    margin-top: 0;
    background: transparent;
    text-align: left;
    border-bottom: 2px solid #eee;

    > li {
      background: transparent;
      border-bottom: 2px solid transparent;
      position: relative;
      bottom: -2px;

      &.is-active {
        border-bottom: 2px solid $primary-color;
      }

      > a {
        color: $primary-color;
      }
    }
  }

  &__info {
    .data-box.borderless {
      padding: 2rem 0;
    }
  }

  .edit-modal .tenant {
    display: flex;
    border: none;
  }

  .tenant {
    display: inherit;

    .subtitle {
      font-size: rem-calc(18px);
      color: $dark-gray;
      margin: rem-calc(30px 0);
    }

    &__header,
    &__billing {
      display: flex;
      flex-direction: row;
    }

    &__billing {
      margin: rem-calc(15px 0);

      .tenant__section--primary {
        font-size: rem-calc(24px);
        font-weight: normal;
      }
    }

    &__section {
      flex: 1;
      max-width: 33%;
    }

    &__edit {
    }
  }
}
