.search-input {
  &__component {
    position: relative;

    .search-input {
      border: 1px solid #9b9b9b;
      width: rem-calc(250px);
      margin: 0;
      height: rem-calc(30px);
      padding: 0 0.5rem;
    }

    .search-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 20px;
      width: 20px;
      background-size: cover;
      background-image: url(../assets/icons/icon-search.svg);
      cursor: pointer;
    }
  }
}
