.search-input {
  &__component {
    position: relative;

    .search-input {
      border: 1px solid #9b9b9b;
      width: rem-calc(250px);
      margin: 0;
      height: rem-calc(30px);
      padding: 0 rem-calc(8px);

      &::-webkit-input-placeholder {
        line-height: normal;
      }

      &:focus {
        border: 1px solid $tram;
        box-shadow: 0px 0px 0px 1px #007a3a;
      }
    }

    .search-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      height: 20px;
      width: 20px;
      background-size: cover;
      background-image: url(../assets/icons/icon-search.svg);
      cursor: pointer;
    }
  }

  &__label {
    position: absolute;
    visibility: hidden;
  }
}
