.select-input {
  margin-bottom: 0;

  .select-input {
    &__control {
      min-height: rem-calc(20px);
      border-radius: 0;
      transition: none;

      &--is-focused {
        &:not(.select-input__control--menu-is-open) {
          box-shadow: 0 0 0 1px $medium-gray;
          outline: 2px dotted $dark-green !important;
          outline-offset: 0px;
          border-color: $medium-gray;
        }
      }

      &--menu-is-open {
        outline: none !important;
        border: 1px solid $dark-green !important;
        box-shadow: 0px 0px 0px 1px $dark-green;
      }
    }

    &__value-container {
      padding: rem-calc(0 3px);
      overflow: visible;
      font-size: rem-calc(14px);
      color: $black;

      div:last-of-type {
        height: 18px;
        margin: 0;
        padding: 0;
      }
    }

    &__input {
      input {
        margin-top: -1px;
        height: 14px;
        padding: 2px !important;
        margin-bottom: 0;
      }
    }

    &__indicators {
      height: 18px;
      position: absolute;
      right: 0;
    }

    &__indicator {
      padding: 1px;
      svg {
        height: 16px;
        width: 16px;
      }
    }

    &__indicator-separator {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &__dropdown-indicator {
      display: block;
      background-image: url(../assets/icons/icon_arrow_down.svg);
      height: rem-calc(14px);
      width: rem-calc(14px);
      margin: 0 2px;

      &.menu-is-open {
        background-image: url(../assets/icons/icon_arrow_up.svg);
      }
    }

    &__menu {
      left: rem-calc(-1px);
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 0;
      width: auto;
      min-width: calc(100% + 2px);
      z-index: 500;
      border: 2px solid $dark-green;
      border-radius: 0;
      border-top: none;
    }

    &__menu-list {
      padding: 0;
    }

    &__menu-notice {
      &--no-options,
      &--loading {
        font-size: rem-calc(14px);
        padding: rem-calc(5px 0);
      }
    }

    &__option {
      font-size: rem-calc(14px);
      padding: rem-calc(2px 5px);
      min-height: 20px;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
      }

      &--is-focused {
        background: $light-yellow;
      }

      &--is-selected {
        background: $light-yellow;
        color: $black;
      }
    }
  }
}
