.single-checkbox-input {
  white-space: nowrap;

  .styled-checkbox {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
    }

    &:focus + label:before {
      box-shadow: 0 0 0 3px $engel;
    }

    &:checked + label:before {
      background: $white;
    }

    &:disabled + label {
      cursor: not-allowed;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 6px;
      top: 7px;
      background: $white;
      width: 8px;
      height: 13px;
      border: solid $tram;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
