@use "foundation-sites/scss/foundation" as *;
@use "../../styles/variables";

.text-input {
  background-color: variables.$white;
  border: 1px solid variables.$white;
  display: block;
  height: auto;
  min-height: rem-calc(30px);
  line-height: 1.5;
  font-size: variables.$font-regular;
  padding: 0 0.5rem;
  margin-bottom: rem-calc(5px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);

  &:disabled {
    background-color: variables.$white;
    border: 1px solid variables.$white;
  }
  &::placeholder {
    color: variables.$dark-gray;
  }
}
