.tabs {
  background-color: transparent;
  border: none;
  text-align: center;
  position: relative;
  text-align: left;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  > li {
    float: none;
    margin-right: rem-calc(10px);
    color: $black;
    background: $medium-gray;
    display: inline-block;
    height: rem-calc(32px);

    > a {
      @include transition(none);

      color: $black !important;
      text-decoration: none !important;
      font-size: rem-calc(14px);
	    font-weight: 600;
      padding: rem-calc(0 0 0 20px);
      display: flex;
      height: 32px;
      align-items: center;
      position: relative;
      border: 2px solid $medium-gray;

      &:focus {
        border-color: $tram !important;
        outline: none;
        border-style: dotted;

        &::after {
          border-color: $tram !important;
          border-style: dotted;
          border-left: none;
        }
      }

      &:hover {
        background-color: #E6E6E6;
        border-color: #E6E6E6 !important;

        &::after {
          background-color: #E6E6E6;
          border-color: #E6E6E6 !important;
        }
      }
    }

    > a::after {
      position: absolute;
      content: "";
      background-color: $medium-gray;
      top: -2px;
      right: -6px;
      height: rem-calc(32px);
      width: 14px;
      transform: skewX(15deg);
      border: 2px solid $medium-gray;
      border-left: none;
    }
  }
  > li.is-active {
    background: $white !important;

    > a {
      border-color: $white;

      &:hover {
        background: $white;
        border-color: $white !important;

        &::after {
          border-color: $white !important;
        }
      }
    }

    > a::after {
        background-color: $white;
        border-color: $white;
    }
  }

  &__label {
    padding-right: rem-calc(20px);
  }

  &__error-badge {
    background-image: url(../assets/icons/icon_error.svg);
    height: 14px;
    width: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    right: 3px;
    position: absolute;
    z-index: 1;
  }

  &__dirty-badge {
    background-image: url(../assets/icons/icon_unsaved.svg);
    height: 14px;
    width: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    right: 3px;
    position: absolute;
    z-index: 1;
  }

  &__content {
    &_pane-container {
      visibility: hidden;
      max-height: 0;

      &.active {
        visibility: visible;
        max-height: none;
      }
    }
  }
}
