.mvj__tabs {
  background-color: transparent;
  border: none;
  text-align: center;
  position: relative;
  text-align: left;
  margin: 0;

  > li {
    float: none;
    margin-right: rem-calc(10px);
    color: $black;
    background: $medium-gray;
    display: inline-block;
    height: rem-calc(32px);

    > a {
      @include transition();

      color: $black;
      font-size: rem-calc(14px);
	    font-weight: 600;
      padding: 0.3rem 1rem;
      display: block;
      position: relative;
    }
    > a::after {
      position: absolute;
      content: "";
      background-color: $medium-gray;
      top: 0;
      right: -5px;
      height: rem-calc(32px);
      width: 12px;
      transform: skewX(15deg);
    }
  }
  > li.is-active {
    background: $white;

    > a::after {
        background-color: $white;
    }
  }
}

.tab__content {
  padding: rem-calc(32px 0);
  &--title {
    margin: rem-calc(0 0 32px 0);
    font-size: rem-calc(32px);
  }
}
