.rent-criteria-list {
  display: block;
  width: 100%;
  padding: rem-calc(20px);

  &__search-wrapper {
    display: flex;

    .search-container {
      flex: 1 1 0%;
      padding-right: rem-calc(15px);
    }
  }
}
