@use "foundation-sites/scss/foundation" as *;
@use "../../styles/variables";

.rent-basis-page {
  width: 100%;
  padding: rem-calc(20px);

  &__upper-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem-calc(20px);

    .rent-basis-info-wrapper {
      flex: 1 1 0%;
    }
  }

  &__info {
    &_label {
      font-size: rem-calc(14px);
      line-height: rem-calc(16px);
      color: variables.$dark-gray;
      margin: 0;
    }

    &_identifier {
      padding-top: 0 !important;
    }
  }
}
