.rent-section {
  .alert {
    color: $brick;
    text-align: right;
    line-height: rem-calc(33px);

    i {
      height: rem-calc(20px);
      width: rem-calc(20px);
      vertical-align: text-bottom;
      background-image: url(../assets/icons/icon-alert.svg);
      display: inline-block;
      margin-left: 0.4rem;
    }
  }

  .success {
    color: $tram;
    text-align: right;
    line-height: rem-calc(33px);

    i {
      height: rem-calc(20px);
      width: rem-calc(20px);
      vertical-align: text-bottom;
      background-image: url(../assets/icons/icon_checked.svg);
      display: inline-block;
      margin-left: 0.4rem;
    }
  }

  .discount-item {
    margin-top: 0.5rem;
    padding: 1rem 0 0;
    border-top: 1px dashed $tram;

    a {
      color: $tram;

      .link-icon {
        background-image: url(../assets/icons/icon_link_green.svg);
        height: rem-calc(20px);
        width: rem-calc(20px);
        margin-left: rem-calc(8px);
        display: inline-block;
        background-position: 0 rem-calc(9px);
        background-size: contain;
        background-repeat: no-repeat
      }
    }
  }

  .discount-item:first-child {
    margin: 0;
    padding: 0;
    border: none;
  }
}
