.mvj-hero {
  width: 100%;

  &.hero--secondary {
    background: $secondary-color;
  }

  .flex & {
    .mvj-hero__content {
    }
  }

  background: $primary-color;
  color: $white;
  padding: rem-calc(30px 0 0 0);
  //border-bottom: 1px solid $light-gray;

  &__content {
    @include mvj-container();
    padding-bottom: rem-calc(30px);
  }

  h1 {
    font-size: rem-calc(32px);
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: rem-calc(28px);
    margin: 0;
    padding: 0;
  }

  p.subtitle {
    margin: rem-calc(30px 0 0 0);
  }
}
