.preparer-form {
  .controls {
    display: flex;
    justify-content: space-between;
  }

  .display-application {
    padding: rem-calc(0 20px 0 45px);
    height: 50px;
    background: darken($primary-color, 5%) url('../assets/icons/icon-loop.svg') 1rem center no-repeat;
    background-size: 20px 20px;
    border-radius: 2px;
    cursor: pointer;
    color: $white;

    @include transition();
    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }

  .display-notes {
    @include transition();

    width: 50px;
    height: 50px;
    background: darken($primary-color, 5%) url('../assets/icons/icon-notes.svg') center center no-repeat;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 15%);
    }
  }

  &__save-button {
    @include lightButton;
    margin: 0 rem-calc(15px);
  }
}
