.lease-section {
  .section-item {
    &__subtitle {
      font-weight: $semibold;
      display: inline-block;
      margin: 0;
    }
    p.subtitle {
      font-size: rem-calc(16px);
	    font-weight: 600;
	    text-align: left;
	    color: $black;
      margin-bottom: rem-calc(5px);
	  }
    .contact {
      margin-bottom: rem-calc(10px);
      p {
        font-size: $font-regular;
        text-align: left;
        color: $black;
        margin-bottom: rem-calc(0px);
        line-height: 1.2;
      }
    }
    p.comment {
      font-size: $font-regular;
      text-align: left;
      color: $black;
      margin-bottom: rem-calc(0px);
      font-style: italic;
    }
    .green-subtitle {
      color: $tram;
      font-weight: $semibold;
      margin-top: 1rem;
      margin-bottom: 0.8rem;
    }
    .explanation p:first-of-type {
      margin: -0.4rem 0 0;
    }
    .explanation p:nth-of-type(2) {
      font-size: $font-small;
    }
    .alert {
      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        background-image: url(../assets/icons/icon-alert.svg);
        display: inline-block;
        vertical-align: sub;
        margin-right: 0.4rem;
      }
      color: $brick;
    }
    .success {
      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        background-image: url(../assets/icons/icon_checked.svg);
        display: inline-block;
        vertical-align: sub;
        margin-right: 0.4rem;
      }
      color: $tram;
    }
    label {
      font-size: $font-small;
      text-align: left;
      color: $dark-gray;
      line-height: 1;
    }
    p {
      font-size: $font-regular;
      text-align: left;
      color: $black;
      margin-bottom: rem-calc(10px);
      line-height: 1.3;
      margin-top: 0.25rem;
    }
    .text-no-margin {
      margin-bottom: 0;
    }
    .text-no-margin + .text-no-margin {
      line-height: 1.3;
    }
    .multiple-textrows {
      margin-bottom: rem-calc(10px);
    }
  }
  .section-item:not(:first-child) {
    border-top: 1px dashed $tram;
    padding-top: 1.2rem;
    margin-top: 0.4rem;
  }
  .green-box {
    background-color: rgba(0, 146, 70, 0.15);
    margin: 0.6rem 0;
    align-items: baseline;
    padding: 1.25rem 1.25rem 0.3rem;
  }
}

.doc-icon, .map-icon, .map-icon-smaller {
  fill: $black;
  vertical-align: sub;
  width: 24px;
  height: 24px;
  margin-right: 0.8rem;
  &:hover {
    fill: $tram;
  }
}
.map-icon {
  width: 25px;
  height: 25px;
}
.map-icon-smaller {
  width: 22px;
  height: 22px;
  margin-right: 0.6rem;
  vertical-align: text-top;
}
