.property-unit-edit {
  .add-button {
    font-size: rem-calc(13px);
    font-family: $font-family-source;
    font-weight: 600;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    height: rem-calc(30px);
    padding: 0 1rem;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    outline: none;

    background-color: $tram;
    color: $white;
    &:hover {
      background-color: $tram-lighter;
    }
  }

  h2 {
    font-size: rem-calc(15px);
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    color: #009246;
    color: $tram;
  }

  .property-unit {
    border-top: 1.5px dashed $tram;
    align-items: baseline;
    padding-top: 0.6rem;
    margin: 2rem 0 1rem;
    position: relative;

    .remove-button {
      position: absolute;
      top: rem-calc(5px);
      right: rem-calc(5px);
      cursor: pointer;

      img {
        height: 22px;
        width: 22px;
      }
      &:hover {
        opacity: 0.85;
      }
    }

    .row {
      border: none;
    }
  }
  .subsection-container {
    position: relative;
    background-color: rgba(0, 146, 70, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;

    .remove-button {
      position: absolute;
      top: rem-calc(5px);
      right: rem-calc(5px);
      cursor: pointer;

      img {
        height: 22px;
        width: 22px;
      }
      &:hover {
        opacity: 0.85;
      }
    }
  }
}
