.row .property-unit__summary {
  margin: 1.5rem 0 0;
  border-top: 1.5px dashed $tram;
  align-items: baseline;
  padding-top: 0.6rem;
  p {
    margin: 0;
  }
  h2 {
    font-size: $font-large;
    font-weight: $semibold;
    line-height: 1.6;
    display: inline-block;
  }
  .map-icon {
    display: inline-block;
    fill: $black;
    width: 25px;
    height: 25px;
    margin: 0 rem-calc(16px) rem-calc(-5px) 0;
    align-self: center;
    &:hover {
      fill: $tram;
    }
  }
  .title {
    padding-left: 0;
  }
  .property-size {
    padding-right: 0;
    p {
      display: inline-block;
    }
  }
  .arrow-icon {
    position: relative;
    float: right;
    cursor: pointer;
  }
  .arrow-icon::after {
    background-image: url('../assets/icons/icon_arrow_down.svg');
    display: block;
    position: absolute;
    content: ' ';
    height: rem-calc(20px);
    width: rem-calc(20px);
    top: 0.2rem;
    right: 0.7rem;
  }
  .arrow-icon.isOpen::after {
    background-image: url('../assets/icons/icon_arrow_up.svg');
  }
}
