@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600');

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('/assets/fonts/HelsinkiGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelsinkiGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelsinkiGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/HelsinkiGrotesk-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/HelsinkiGrotesk-Regular.svg#HelsinkiGrotesk-Regular') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('/assets/fonts/HelsinkiGrotesk-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelsinkiGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelsinkiGrotesk-RegularItalic.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/HelsinkiGrotesk-RegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/HelsinkiGrotesk-RegularItalic.svg#HelsinkiGrotesk-RegularItalic') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('/assets/fonts/HelsinkiGrotesk-Medium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelsinkiGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelsinkiGrotesk-Medium.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/HelsinkiGrotesk-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/HelsinkiGrotesk-Medium.svg#HelsinkiGrotesk-Medium') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('/assets/fonts/HelsinkiGrotesk-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelsinkiGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelsinkiGrotesk-MediumItalic.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/HelsinkiGrotesk-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/HelsinkiGrotesk-MediumItalic.svg#HelsinkiGrotesk-MediumItalic') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('/assets/fonts/HelsinkiGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelsinkiGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelsinkiGrotesk-Bold.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/HelsinkiGrotesk-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/HelsinkiGrotesk-Bold.svg#HelsinkiGrotesk-Bold') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('/assets/fonts/HelsinkiGrotesk-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelsinkiGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelsinkiGrotesk-BoldItalic.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/HelsinkiGrotesk-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/HelsinkiGrotesk-BoldItalic.svg#HelsinkiGrotesk-BoldItalic') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('/assets/fonts/HelsinkiGrotesk-Black.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelsinkiGrotesk-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelsinkiGrotesk-Black.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/HelsinkiGrotesk-Black.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/HelsinkiGrotesk-Black.svg#HelsinkiGrotesk-Black') format('svg'); /* Legacy iOS */
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: HelsinkiGrotesk;
  src: url('/assets/fonts/HelsinkiGrotesk-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelsinkiGrotesk-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelsinkiGrotesk-BlackItalic.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/HelsinkiGrotesk-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/HelsinkiGrotesk-BlackItalic.svg#HelsinkiGrotesk-BlackItalic') format('svg'); /* Legacy iOS */
  font-weight: 900;
  font-style: italic;
}
