@mixin mvj-container() {
  @include grid-row();
  padding: 0 1rem;
}

@mixin lightButton($background: #F7FCFF) {
  @include button(true);
  background: $background;
  border-color: darken($background, 5%);
  color: $primary-color;
  text-transform: uppercase;
}

@mixin focus() {
  &:focus {
    outline-color: $tram;
    outline-style: dotted;
    outline-offset: 2px;
    outline-width: 2px;
  }
}

@mixin focusInput() {
  &:focus {
    transition: none !important;
    outline: 2px dotted $tram;
    outline-offset: 0px;
    border: 1px solid $medium-gray;
  }
}

@mixin placeholder($color: $light-gray) {
  ::-webkit-input-placeholder {
    color: $color;
    font-weight: 300;
  }
  ::-moz-placeholder {
    color: $color;
    font-weight: 300;
  }
  :-ms-input-placeholder {
    color: $color;
    font-weight: 300;
  }
}

@mixin transition($speed:300ms, $property:all, $ease:ease-out, $delay:null) {
  $transition: none;

  @if length($property) > 1 {

    @each $transition_list in $property {

      @for $i from 1 through length($transition_list) {

        @if $i == 1 {
          $_property: nth($transition_list, $i);
        }

        @if length($transition_list) > 1 {
          @if $i == 2 {
            $_speed: nth($transition_list, $i);
          }
        } @else {
          $_speed: $speed;
        }

        @if length($transition_list) > 2 {
          @if $i == 3 {
            $_ease: nth($transition_list, $i);
          }
        } @else {
          $_ease: $ease;
        }

        @if length($transition_list) > 3 {
          @if $i == 4 {
            $_delay: nth($transition_list, $i);
          }
        } @else {
          $_delay: $delay;
        }
      }

      @if $transition == none {
        $transition: $_property $_speed $_ease $_delay;
      } @else {
        $transition: $transition, $_property $_speed $_ease $_delay;
      }
    }
  } @else {

    @each $prop in $property {

      @if $transition == none {
        $transition: $prop $speed $ease $delay;
      } @else {
        $transition: $transition, $prop $speed $ease $delay;
      }
    }
  }

  transition: $transition;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin rotate( $deg: 0deg ) {
  @include transform(rotate($deg));
}

@mixin scale( $ratio: 1 ) {
  @include transform(scale($ratio));
}
