$font-family-helsinki-grotesk: HelsinkiGrotesk, sans-serif;
$font-family-source: 'Source Sans Pro', sans-serif;

/// @type Font
$body-font-family: $font-family-source;

/// @type Number
$global-font-size: 100% !default;
$global-lineheight: 1.5 !default;
$font-xsmall: 0.8125rem !default;
$font-small: 0.875rem !default;
$font-regular: 1rem !default;
$font-large: 1.25rem !default;
$font-xlarge: 1.5rem !default;
$semibold: 600;

/// @type Map
$foundation-palette: (
  primary: #0072C6,
  secondary: #6692AC,
  success: #3adb76,
  warning: #ffae00,
  alert: #EB1414,
);

/// @type Color
$summer: #ffc61e !default;
$engel: #ffe977 !default;
$tram: #009246 !default;
$tram-lighter-solid: #d9efe4 !default;
$brick: #bd2719 !default;
$black: #222222 !default;
$lightest-gray: #FAFAFA !default;
$light-gray: #f4f4f4 !default;
$medium-gray: #d5d5d5 !default;
$dark-gray: #666666 !default;
$white: #ffffff !default;

$engel-light: rgba(255, 233, 119, 0.8);

$summer-lighter: rgba(255,198,30,0.8);
$engel-lighter: rgba(255, 233, 119, 0.3);
$engel-lighter-opaque: #FFF6C9;
$tram-lighter: rgba(0,146,70, 0.8);
$brick-lighter: rgba(189,39,25, 0.8);
$tram-lightest: rgba(0,146,70, 0.2);


$mvj-text-color: $black;
$mvj-focus-color: #9BDCFB;
$body-background: $light-gray !default;
$body-font-color: $mvj-text-color !default;

/// Tables
$table-head-background: transparent !default;
$table-stripe: inherit !default;
$table-head-font-color: $dark-gray !default;
$table-head-row-hover: inherit !important !default;

/// Off-canvas
$offcanvas-size: 400px !default;
$offcanvas-background: $mvj-text-color !default;
