$fa-font-path: "~font-awesome/fonts";
$font-family-helsinki-grotesk: HelsinkiGrotesk, sans-serif;

/// @type Map
$foundation-palette: (
  primary: #0072C6,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

/// @type Color
$mvj-text-color: #4A4A4A;

/// @type Color
$light-gray: #eeeeee !default;

/// @type Color
$medium-gray: #cacaca !default;

/// @type Color
$dark-gray: #8a8a8a !default;

/// @type Color
$black: #0a0a0a !default;

/// @type Color
$white: #fefefe !default;

/// @type Number
$global-font-size: 100% !default;

/// @type Number
$global-width: rem-calc(1200) !default;

/// @type Number
$global-lineheight: 1.5 !default;

/// @type Color
$body-background: $white !default;

/// @type Color
$body-font-color: $mvj-text-color !default;

/// @type Font
$body-font-family: $font-family-helsinki-grotesk;
