$font-family-helsinki-grotesk: HelsinkiGrotesk, sans-serif;

/// @type Map
$foundation-palette: (
  primary: #0072C6,
  secondary: #6692AC,
  success: #3adb76,
  warning: #ffae00,
  alert: #EB1414,
);

/// @type Color
$mvj-text-color: #4A4A4A;
$mvj-focus-color: #9BDCFB;

/// @type Color
$summer: #ffc61e !default;

/// @type Color
$engel: #ffe977 !default;

/// @type Color
$tram: #009246 !default;

/// @type Color
$black: #222222 !default;

/// @type Color
$lightest-gray: #FAFAFA !default;

/// @type Color
$light-gray: #eeeeee !default;

/// @type Color
$medium-gray: #cccccc !default;

/// @type Color
$dark-gray: #757575 !default;



/// @type Color
$white: #fefefe !default;

/// @type Number
$global-font-size: 100% !default;

/// @type Number
//$global-width: rem-calc(1200) !default;

/// @type Number
$global-lineheight: 1.5 !default;

/// @type Color
$body-background: $white !default;

/// @type Color
$body-font-color: $mvj-text-color !default;

/// @type Font
$body-font-family: $font-family-helsinki-grotesk;

/// Tables
$table-head-background: transparent !default;
$table-stripe: inherit !default;
$table-head-font-color: $dark-gray !default;
$table-head-row-hover: inherit !important !default;

/// Off-canvas
$offcanvas-size: 400px !default;
$offcanvas-background: $mvj-text-color !default;
