.page-container {
  font-family: $font-family-source;
  width: 100%;
  padding: rem-calc(20px);

  .button-wrapper {
    text-align: right;
    padding-top: rem-calc(20px);

    .mvj-button:last-child {
      margin-right: 0;
    }
  }

  h1 {
    font-family: $font-family-source;
    font-size: rem-calc(22px);
    line-height: rem-calc(24px);
    font-weight: $semibold;
    color: $black;
    margin: 0;
  }

  h2 {
    font-family: $font-family-source;
    font-size: rem-calc(20px);
    line-height: rem-calc(22px);
    font-weight: $semibold;
    color: $black;
    text-transform: uppercase;
    margin: 0;
  }

  h3 {
    font-family: $font-family-source;
    font-size: rem-calc(20px);
    line-height: rem-calc(22px);
    font-weight: $semibold;
    color: $black;
    margin: 0;
  }

  h4 {
    font-family: $font-family-source;
    font-size: rem-calc(16px);
    line-height: rem-calc(18px);
    font-weight: $semibold;
    color: $black;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    font-size: rem-calc(14px);
    line-height: rem-calc(16px);
    font-weight: normal;
    color: $black;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  label.mvj-form-field-label {
    font-size: rem-calc(13px);
    line-height: rem-calc(15px);
    font-weight: normal;
    color: $dark-gray;
  }

  a {
    color: $tram;
  }
}

.content-container {
  position: relative;
  font-family: $font-family-source;
  width: 100%;
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  padding: rem-calc(15PX);

  .divider {
    border-top: 1px dashed $tram;
    margin: rem-calc(15px) 0;
    height: 1px;
    width: 100%;
  }

  label {
    font-size: rem-calc(13px);
    line-height: rem-calc(15px);
    font-weight: normal;
    color: $dark-gray;
    white-space: nowrap;
  }

  h2 {
    margin: rem-calc(30px) 0 0;
  }

  h2:first-of-type {
    margin-top: 0;
  }

  p {
    font-size: rem-calc(14px);
    line-height: rem-calc(16px);
    font-weight: normal;
    color: $black;
    margin-bottom: rem-calc(10px);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  p.no-margin {
    margin: 0;
  }

  p.sub-title {
    font-size: $font-regular;
    line-height: normal;
    font-weight: 600;
    color: $black;
    margin: 0 0 rem-calc(5px);
  }

  .right-subtitle {
    position: absolute;
    top: rem-calc(15px);
    right: rem-calc(15px);
    display: block;
    line-height: rem-calc(24px);
    font-weight: $semibold;
    margin-bottom: 0;
  }

  .list-items {
    margin-bottom: rem-calc(10px);

    &.list-items-edit {
      margin-bottom: rem-calc(10px);
    }
  }

  .content-item {
    border: none;
    display: block;
    border-top: 1px dashed $tram;
    padding: rem-calc(20px) 0 0;
    margin: rem-calc(20px) 0 0;
    position: relative;
  }

  .content-item:first-child {
    margin: 0;
    border-top: none;
    padding: 0;
  }

  .green-box {
    display: inline-block;
    width: 100%;
    padding: rem-calc(15px) rem-calc(15px) rem-calc(5px);
    background-color: $tram-lighter-solid;
    position: relative;

    &.full-height {
      height: 100%;
    }

    &.no-margin {
      margin: 0;
    }

    &.with-bottom-margin {
      margin-bottom: rem-calc(15px);
    }

    .map-link {
      .icon {
        width: rem-calc(22px);
        height: rem-calc(22px);;
        margin-right: rem-calc(5px);;
        vertical-align: text-top;

        &:hover {
          fill: $tram;
        }
      }

      .subtitle {
        font-size: $font-regular;
        text-align: left;
        color: $black;
        line-height: normal;
        font-weight: $semibold;
        display: inline-block;
        margin: 0 0 rem-calc(10px);
        font-weight: $semibold;
      }
    }

    .map-link-button {
      position: absolute;
      top: rem-calc(20px);
      right: rem-calc(20px);
      display: flex;
      align-items: center;

      span {
        color: $black;
        font-size: $font-small;
        text-transform: uppercase;
        line-height: rem-calc(20px);
        padding-right: 5px;
        font-weight: 600;
      }

      i {
        background-image: url(../assets/icons/map.svg);
        height: rem-calc(20px);
        width: rem-calc(20px);
      }
    }

    h3 {
      font-size: $font-regular;
      font-weight: $semibold;
      color: $tram;
      margin: 0 0 rem-calc(5px);
    }
  }

  .green-box-edit {
    padding: rem-calc(15px) rem-calc(15px) rem-calc(5px);
    background-color: $tram-lighter-solid;
    margin-bottom: rem-calc(10px);

    h2 {
      font-size: $font-large;
      font-weight: $semibold;
      color: $tram;
      text-transform: uppercase;
      margin: 0;
    }

    &.no-margin {
      margin: 0;
    }
  }

  .white-box-edit {
    padding: rem-calc(15px) rem-calc(15px) rem-calc(5px);
    background-color: $white;
    margin-bottom: rem-calc(10px);

    &.no-margin {
      margin: 0;
    }

    h3 {
      margin-bottom: rem-calc(15px);
    }
  }

  .box-item-container {
    .box-item {
      border-top: 1px dashed #009246;
      padding: rem-calc(15px) 0 rem-calc(5px);
      position: relative;

      &:first-child {
        margin-top: rem-calc(5px);
      }

      &.no-border-on-first-child:first-child {
        border: none;
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  .box-content-wrapper {
    position: relative;
  }
}
