.page-container {
  font-family: $font-family-source;
  width: 100%;
  padding: rem-calc(20px);

  .button-wrapper {
    text-align: right;
    margin-top: rem-calc(20px);

    .mvj-button:last-child {
      margin-right: 0;
    }
  }
}

.content-container {
  position: relative;
  font-family: $font-family-source;
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.07);
  padding: rem-calc(20px);

  .divider {
    border-top: 1px dashed $tram;
    margin: rem-calc(20px) 0;
    height: 1px;
    width: 100%;
  }

  h1 {
    font-size: rem-calc(22px);
    line-height: 1.18;
    font-weight: 600;
    letter-spacing: normal;
    color: $black;
    margin: rem-calc(40px) 0 0;
    text-transform: uppercase;
  }

  h1:first-child {
    margin: 0;
  }
  h2 {
    font-size: $font-large;
    font-weight: $semibold;
    color: $tram;
    text-transform: uppercase;
    margin-top: rem-calc(30px);
  }

  h2:first-child {
    margin-top: rem-calc(10px);
  }

  label {
    font-size: $font-small;
    line-height: normal;
    font-weight: normal;
    color: $dark-gray;
    white-space: nowrap;
  }

  p {
    font-size: $font-regular;
    line-height: normal;
    font-weight: normal;
    color: $black;
    margin-bottom: 20px;
  }

  p.no-margin {
    margin: 0;
  }

  p.sub-title {
    font-size: $font-regular;
    line-height: normal;
    font-weight: 600;
    color: $black;
    margin: 0 0 rem-calc(5px);
  }

  p.right-subtitle {
    position: absolute;
    top: rem-calc(20px);
    right: rem-calc(20px);
    display: block;
    line-height: rem-calc(25px);
    font-weight: $semibold;
    margin-bottom: 0;
  }

  .list {
    .list-item {
      p {
        margin-bottom: 0;
      }
    }

    .list-item:last-child {
      p {
        margin-bottom: 20px;
      }
    }
  }

  .content-item {
    border: none;
    display: block;
    border-top: 1px dashed $tram;
    padding: rem-calc(20px) 0 0;
    margin: rem-calc(20px) 0 0;
    position: relative;
  }

  .content-item:first-child {
    margin: 0;
    border-top: none;
    padding: 0;
  }

  .green-box {
    padding: rem-calc(20px);
    background-color: $tram-lighter-solid;
    position: relative;

    &.full-height {
      height: 100%;
    }

    &.no-margin {
      margin: 0;
    }

    .map-link {
      .icon {
        width: rem-calc(22px);
        height: rem-calc(22px);;
        margin-right: rem-calc(5px);;
        vertical-align: text-top;

        &:hover {
          fill: $tram;
        }
      }

      .subtitle {
        font-size: $font-regular;
        text-align: left;
        color: $black;
        line-height: normal;
        font-weight: $semibold;
        display: inline-block;
        margin: 0 0 rem-calc(10px);
        font-weight: $semibold;
      }
    }

    .map-link-button {
      position: absolute;
      top: rem-calc(20px);
      right: rem-calc(20px);
      display: flex;
      align-items: center;

      span {
        color: $black;
        font-size: $font-small;
        text-transform: uppercase;
        line-height: rem-calc(20px);
        padding-right: 5px;
        font-weight: 600;
      }

      i {
        background-image: url(../assets/icons/map.svg);
        height: rem-calc(20px);
        width: rem-calc(20px);
      }
    }

    h3 {
      font-size: $font-regular;
      font-weight: $semibold;
      color: $tram;
      margin: 0 0 rem-calc(5px);
    }
  }

  .green-box-edit {
    padding: rem-calc(20px);
    background-color: $tram-lighter-solid;
    margin-bottom: rem-calc(10px);

    h2 {
      font-size: $font-large;
      font-weight: $semibold;
      color: $tram;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .green-box-item {
    border-top: 1px dashed #009246;
    padding: rem-calc(20px) 0;
    position: relative;

    &.no-border-on-first-child:first-child {
      border: none;
      padding-top: 0;
    }
  }

  .green-box-item:last-child {
    padding-bottom: 0;
  }

  .white-box-edit {
    position: relative;
    padding: 0 rem-calc(20px) rem-calc(20px);
    background-color: white;
  }

  .box-content-wrapper {
    position: relative;
  }
}
