.show-more {
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(10px);

  .no-margin {
    margin: 0;
  }

  p {
    margin: 0;
    font-size: rem-calc(14px);
    line-height: rem-calc(16px);
  }

  &__read-more {
    font-size: rem-calc(13px);
    color: $tram;
    margin-top: 0;
    display: inline-block;

    &:hover {
      color: $tram;
    }
  }
}
