.show-more {
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(10px);

  .no-margin {
    margin: 0;
  }

  p {
    margin: 0;
  }

  &__read-more {
    font-size: $font-small;
    color: $tram;
    margin-top: 0;
    display: inline-block;

    &:hover {
      color: $tram;
    }
  }
}
