.summary {
  &__content-wrapper {
    @include breakpoint(small only) {
      flex-direction: column-reverse;
    }
  }

  &__related-leases {
    background-color: $tram-lighter-solid;
    height: 100%;
    padding: rem-calc(15px);

    @include breakpoint(small only) {
      margin-bottom: rem-calc(15px);
    }

    &_input-wrapper {
      margin-top: rem-calc(15px);
    }

    .related-leases-item {
      padding-left: 17.5px;
      padding-right: 7.5px;
      margin-left: -7.5px;
      margin-right: -7.5px;

      &.indented {
        padding-left: 42.5px;

        .left-border-overlay {
          left: -27.5px;
        }

        .connection-line {
          position: absolute;
          border-top: 1px dashed $tram;
          width: 20px;
          top: 17.5px;
          left: -26px;
        }
      }

      &_wrapper {
        position: relative;
        padding: rem-calc(7.5px 0);
      }

      .left-border-overlay {
        border-left: 3px solid $tram-lighter-solid;
        position: absolute;
        left: -1px;
      }

      &_badge {
        background-color: $tram;
        height: rem-calc(20px);
        width: rem-calc(20px);
        position: absolute;
        left: rem-calc(-11px);;
        border-radius: 50%;
      }

      &_info {
        padding-left: rem-calc(20px);

        p {
          line-height: rem-calc(20px);
          margin-bottom: 0;
        }

        .identifier {
          font-size: rem-calc(18px);
          font-weight: $semibold;

          a {
            font-size: rem-calc(18px);
            line-height: rem-calc(20px);
            margin-bottom: 0;
            font-weight: $semibold;

            .icons__external-link {
              height: rem-calc(13px);
              width: rem-calc(16px);
            }
          }
        }

        .type {
          font-weight: $semibold;
        }
      }

      &_remove-button {
        position: absolute;
        right: 0;
        top: rem-calc(10px);
      }

      &.active {
        background-color: $white;
        .left-border-overlay {
          border-color: $white !important;
        }

        .related-leases-item{
          &_badge {
            background-color: $black;
          }
        }
      }
    }

    &_items {
      position: relative;
      margin-top: rem-calc(15px);

      &_border-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 9px;
        border-left: 1px dashed $tram;
      }

      .related-leases-item:nth-of-type(2) {
        .left-border-overlay {
          top: 0;
          bottom: unset;
          height: 17.5px;
        }
      }

      .related-leases-item:last-of-type {
        .left-border-overlay {
          bottom: 0;
          top: 17.5px;
        }
      }
      .related-leases-item:nth-of-type(2):last-of-type {
        .left-border-overlay {
          bottom: 0;
          top: 0;
          height: 100%;
        }
      }
    }
  }

  &__status-indicator {
    &_neutral {
      color: $neutral-color !important;
    }

    &_alert {
      color: $brick !important;
    }

    &_success {
      color: $tram !important;
    }
  }
}
