@use "foundation-sites/scss/foundation" as *;
@use "../../../../styles/variables";
@use "../../../../styles/mixins";

.summary {
  &__content-wrapper {
    @include breakpoint(small only) {
      flex-direction: column-reverse;
    }
  }

  &__related-leases {
    background-color: variables.$light-gray;
    height: 100%;
    padding: rem-calc(15px);

    @include breakpoint(small only) {
      margin-bottom: rem-calc(15px);
    }

    &_input-wrapper {
      margin: rem-calc(15px 0 10px);
    }

    .related-leases-item {
      padding-left: 17.5px;
      padding-right: 7.5px;
      margin-left: -7.5px;
      margin-right: -7.5px;

      &_wrapper {
        position: relative;
        padding: rem-calc(7.5px 0 7.5px 23px);
      }

      .left-border-overlay {
        border-left: 3px solid variables.$green;
        position: absolute;
        left: -1px;
      }

      &_badge {
        height: rem-calc(15px);
        width: rem-calc(15px);
        position: absolute;
        left: rem-calc(-8px);
        border-radius: 50%;
        top: rem-calc(3px);

        .icons {
          height: rem-calc(15px);
          width: rem-calc(15px);
          left: rem-calc(10px);

          @include mixins.transform(rotate(-90deg));
        }
      }

      &.indented {
        padding-left: 42.5px;

        .left-border-overlay {
          left: -27.5px;
        }

        .connection-line {
          position: absolute;
          border-top: 1px dashed variables.$blue;
          width: 20px;
          top: 17.5px;
          left: -26px;
        }

        .related-leases-item {
          &_wrapper {
            padding-left: 0;
          }

          &_badge {
            top: rem-calc(4px);
            left: rem-calc(-10px);

            .icons {
              @include mixins.transform(rotate(0deg));
            }
          }
        }
      }

      &_info {
        padding-left: rem-calc(20px);

        p {
          line-height: rem-calc(16px);
          margin-bottom: 0;
        }

        .identifier {
          font-size: rem-calc(18px);
          line-height: rem-calc(20px);
          font-weight: variables.$semibold;

          a {
            font-size: rem-calc(18px);
            line-height: rem-calc(20px);
            margin-bottom: 0;
            font-weight: variables.$semibold;

            .icons__external-link {
              height: rem-calc(13px);
              width: rem-calc(16px);
            }
          }
        }

        .type {
          font-weight: variables.$semibold;
        }
      }

      &_remove-button {
        position: absolute;
        right: 0;
        top: rem-calc(10px);
      }

      &.active {
        background-color: variables.$white;

        .left-border-overlay {
          border-color: variables.$white !important;
        }

        .related-leases-item {
          &_badge {
            top: rem-calc(10px);
            left: rem-calc(-8px);
            background-color: variables.$black;
          }
        }
      }
    }

    &_items {
      position: relative;
      margin-top: rem-calc(15px);

      &_border-left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 9px;
        border-left: 1px dashed variables.$blue;
      }

      .related-leases-item:nth-of-type(2) {
        .left-border-overlay {
          top: 0;
          bottom: unset;
          height: 17.5px;
        }
      }

      .related-leases-item:last-of-type {
        .left-border-overlay {
          bottom: 0;
          top: 17.5px;
        }
      }
      .related-leases-item:nth-of-type(2):last-of-type {
        .left-border-overlay {
          bottom: 0;
          top: 0;
          height: 100%;
        }
      }
    }
  }

  &__status-indicator {
    font-size: rem-calc(14px);
    line-height: rem-calc(16px);
    font-weight: normal;
    margin-bottom: 0;
    max-width: 100%;

    &--neutral {
      color: variables.$neutral-color !important;
    }

    &--alert {
      color: variables.$red !important;
    }

    &--success {
      color: variables.$blue !important;
    }

    &--enquiry-sent {
      color: variables.$yellow-enquiry-sent !important;
    }
  }
}
