.save-condition-panel {
  position: absolute;
  left: -350px;
  bottom: 0;
  top: 0;
  width: 350px;
  height: 100%;
  z-index: 900;
  background-color: rgba(0,0,0,0.35);
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.07);
  padding: rem-calc(15px);

  @include transition(0.3s, all, ease-in-out);

  h2 {
    color: $white;
    margin-bottom: rem-calc(15px);
  }

  &__container {
    position: relative;
    height: 100%;
  }

  &__comment-wrapper {
    flex: 1 1 0%;
    padding-right: rem-calc(7.5px);
  }

  &__buttons-wrapper {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;

    mvj-button:last-child {
      margin-right: 0;
    }
  }

  &.is-panel-open {
    left: 0;
  }
}
