.comment-panel {
  background-color: $engel-lighter-opaque;
  z-index: 1001;
  width: rem-calc(500px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: rem-calc(-500px);
  padding: 0;
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.09);

  @include transition(0.3s, all, ease-in-out);

  &__title-wrapper {
    position: fixed;
    max-width: 100%;
    width: rem-calc(500px);
    padding: rem-calc(92px) rem-calc(20px) rem-calc(20px);
    background-color: $engel-lighter-opaque;
    z-index: 1;
  }

  &__title {
    position: relative;
    h1 {
      font-family: $font-family-source;
      font-size: $font-xlarge;
      line-height: $font-xlarge;
      font-weight: $semibold;
    }
  }

  &__content-wrapper {
    max-height: 100%;
    padding: rem-calc(142px) rem-calc(20px) rem-calc(20px);
    overflow: auto;
  }

  h2 {
    margin-bottom: rem-calc(10px) !important;
    margin-top: rem-calc(20px) !important;
  }

  .filters {
    margin-bottom: rem-calc(15px);
  }

  .comments {
    .no-comments-text {
      font-size: rem-calc(14px);
      margin-bottom: rem-calc(5px);
      line-height: rem-calc(16px);
    }

    .comment {
      position: relative;
      margin-bottom: rem-calc(15px);

      &__content-wrapper {
        padding-right: 25px;

        &.no-padding {
          padding-right: 0;
        }
      }

      &__text {
        font-size: rem-calc(14px);
        line-height: rem-calc(16px);
        margin-bottom: rem-calc(5px);
        padding-left: rem-calc(20px);
      }

      &__info {
        font-size: $font-small;
        margin-bottom: 0px;

        &_date {
          font-weight: $semibold;
        }
      }

      &__button-wrapper {
        text-align: right;

        .mvj-button:last-child {
          margin-right: 0;
        }
      }
    }

    .comments-section {
      .comment:last-child {
        margin-bottom: 0;
      }
    }
    .comments-section:first-child {
      h3 {
        margin-top: 0;
      }
    }
  }

  &.is-panel-open {
    right: 0;
  }
}
