.comment-panel {
  background-color: $engel-lighter-opaque;
  z-index: 1001;
  width: rem-calc(500px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: rem-calc(-500px);
  padding: rem-calc(100px) rem-calc(20px) 0 rem-calc(30px);
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.07);
  transition: .3s ease-in-out;

  &__title-row {
    display: flex;
    flex: row nowrap;
    margin-bottom: 2rem;

    .title {
      flex: 1 1 0%;

      h1 {
        font-family: $font-family-source;
	      font-size: $font-xlarge;
	      font-weight: $semibold;
        margin: 0;
      }
    }
    .close-button-container {
      align-self: center;
      a {
        background-image: url(../assets/icons/icon_close.svg);
        height: 20px;
        width: 20px;
        display: block;
        cursor: pointer;
      }
    }
  }

  &__textarea-container {
    margin-bottom: 1rem;
  }

  &__comments {
    margin-top: rem-calc(20px);
    max-height: calc(100vh - 23rem);
    overflow: auto;
    .comments-title {
      margin-top: rem-calc(30px);
      margin-bottom: 1rem;
      font-size: 20px;
      font-weight: 600;
      color: $black;

      &.archived {
        margin-top: rem-calc(50px);
        color: $dark-gray;
      }
    }
    .comment {

      position: relative;

      .archive-icon {
        position: absolute;
        background-image: url(../assets/icons/icon-archive.svg);
        background-size: contain;
        top: 0;
        right: 0;
        height: 18px;
        width: 18px;
        cursor: pointer;
      }

      .comment-text {
        font-size: $font-regular;
        margin-bottom: rem-calc(5px);
        line-height: 1.25;
        margin-right: 2rem;
      }

      .comment-info {
        font-size: $font-small;
        margin-bottom: rem-calc(0px);
        margin-right: 2rem;
        margin-bottom: 1.2rem;

        .user {
          font-weight: $semibold;
        }

        .date {

        }
      }
      &.comment-archived {
        color: $dark-gray;

        .archive-icon {
          background-image: url(../assets/icons/icon-unarchive.svg);
        }
      }
    }

  }

  &.is-panel-open {
    right: 0;
  }
}
