@use "foundation-sites/scss/foundation" as *;
@use "../../styles/variables";
@use "../../styles/mixins";

.login-page {
  display: block;
  margin: auto;
  margin-top: 2rem;
  width: 600px;
  max-width: calc(100% - 1rem);
  background-color: variables.$light-blue;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);

  &__content {
    text-align: center;
    padding: 2rem 2rem 3rem;

    .helsinki-logo {
      background: url(/assets/images/logo.svg);
      background-size: contain;
      background-repeat: no-repeat;
      height: 48px;
      margin-bottom: rem-calc(40px);
      width: 100%;
      background-position: right;
    }

    h3 {
      font-size: variables.$font-xlarge;
      font-weight: variables.$semibold;
    }

    button {
      background-color: transparent;
      color: variables.$black;
      border: 2px solid variables.$black;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }

  .login-koro {
    height: rem-calc(14px);
    background: url(/assets/images/basic-wave-koro.svg);
    background-size: 96px 14px;
    @include mixins.rotate(180deg);
  }

  .login-footer {
    height: rem-calc(40px);
    width: 100%;
    background-color: variables.$blue;
  }
}
