.lease-search {
  &__row {
    display: flex;
  }

  &__label-column {
    width: rem-calc(140px);
  }

  &__input-column {
    flex: 1 1 0%;
  }

  &__label {
    line-height: rem-calc(20px);
    margin: 0;
    display: block;
    font-size: rem-calc(14px);
    color: $dark-gray;
  }

  &__search-type-link {
    font-weight: $semibold !important;
  }

  &__clear-link {
    font-weight: $semibold !important;
    float: right;
  }
}
