.search {
  .readme-link {
    color: $black;
    text-decoration: underline;
    font-size: rem-calc(14px);
  }

  .search-box {
    padding-right: 0.6rem;
  }

  .tableInfo {
    width: 100%;
    display: flex;
  }

  .advanced-search-row-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .column-text-input-first {
      flex: 0 0 45%;
      display: flex;
    }

    .column-checkbox {
      flex: 0 0 20%;
      display: flex;
    }

    .column-select {
      flex: 0 0 32%;
      display: flex;
    }

    .column-text-input-second {
      flex: 0 0 55%;
      display: flex;
    }

    .Select {
      position: relative;
    }

    .Select-menu-outer {
      width: 270px;
      max-height: 150px;
      position: absolute;
      margin-top: 0.25rem;
    }

    .Select-menu {
    	max-height: 148px;
    }

    .Select-menu::-webkit-scrollbar-track {
    	border: none;
    	background-color: none;
    }

    .Select-menu::-webkit-scrollbar {
    	width: 10px;
    	background-color: $white;
    }

    .Select-menu::-webkit-scrollbar-thumb {
    	background-color: $medium-gray;
    }

    label {
      display: inline-block;
      color: $dark-gray;
      line-height: rem-calc(30px);
      margin-right: rem-calc(10px);
    }

    label.label-long {
      min-width: 5rem;
      text-align: left;
    }

    label.label-medium {
      min-width: 3rem;
      text-align: right;
    }

    label.label-small {
      min-width: 3rem;
      text-align: left;
    }

    @include breakpoint(large down) {
      //display: none;
      .column-text-input-first {
        flex: 0 0 60%;
        display: flex;
      }

      .column-checkbox {
        flex: 0 0 40%;
        display: flex;
      }

      .column-select {
        flex: 0 0 100%;
        display: flex;
      }

      .column-text-input-second {
        flex: 0 0 40%;
        display: flex;
      }

      label.label-medium {
        min-width: 5rem;
        text-align: left;
      }
      label.label-small {
        min-width: 3rem;
        text-align: left;
      }
    }

    .text-input {
      max-height: rem-calc(30px);
      margin-right: rem-calc(10px);
    }
    .short-input {
      width: rem-calc(70px);
      min-width: rem-calc(70px);
      margin-right: rem-calc(10px);
    }
    .nomargin-input {
      margin-right: 0;
      width: 100%;
    }
  }
}
