.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem-calc(60px);
  font-family: $font-family-helsinki-grotesk;
  font-weight: 600;
  font-size: rem-calc(20px);
  padding: 0 rem-calc(20px);
  background: $white;
  z-index: 1060;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
  background-color: $white;

  &__left-wrapper {
    display: flex;
    flex: 1 1 0%;
    align-items: center;

    .page-title {
      font-size: rem-calc(20px);
      margin: 0;
      padding: 0 rem-calc(20px);
      line-height: rem-calc(60px);
      background-color: $white;

      a {
        color: $black;

        &:hover {
          color: $dark-green;
        }
      }
    }
  }

  &__title {
    &_button {
      font-size: rem-calc(20px);
      margin-left: rem-calc(-20px);
      padding: 0 rem-calc(20px);
      line-height: rem-calc(60px);
      background-color: $yellow;
      font-family: $font-family-helsinki-grotesk;
      font-weight: 600;
      outline-offset: -2px !important;
      cursor: pointer;

      span {
        color: $black;
        margin-right: rem-calc(10px);
      }

      .icons {
        stroke: $black;
        @include transform(rotateX(180deg));
        @include transition(0.3s, transform, ease-in-out);
      }
    }

    &.is-open {
      .icons {
        @include transform(rotateX(0));
      }
    }
  }

  &__right-wrapper {
    display: flex;
    align-items: center;

    .user-icon-wrapper {
      position: relative;
      line-height: 1;

      .userIcon {
        margin: 0;
        width: 30px;
        height: 30px;
      }

      .badge {
        position: absolute;
        font-family: $font-family-source;
        font-size: rem-calc(12px);
        min-width: rem-calc(20px);
        padding: rem-calc(4px);
        color: $white;
        font-weight: 600;
        text-align: center;
        border-radius: 50%;
        background-color: $red;
        top: rem-calc(-3px);
        right: rem-calc(-10px);
      }
    }

    .username-wrapper {
      line-height: 1;
      margin-left: 20px;
      text-align: right;

      .username {
        line-height: 1;
        margin: 0;
        font-weight: 500;
        font-size: rem-calc(16px);
      }

      .logout-link {
        line-height: 1;
        color: $dark-green;
        font-weight: $semibold;
        font-size: rem-calc(16px);
        font-family: $font-family-helsinki-grotesk;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: $dark-green-hover;
        }
      }
    }
  }

  .menuIcon, .userIcon, .flagIcon {
    width: 27px;
    height: 27px;
    fill: $black;
    cursor: pointer;
  }

  .menuIcon:hover, .userIcon:hover {
    fill: $dark-green;
  }

  .menuIcon {
    width: rem-calc(25px);
    height: rem-calc(25px);
    baseline-shift: rem-calc(10px);
  }

  .search {
    margin: 0 rem-calc(40px) 0 0;
  }

  .flag {
    position: relative;
    margin: 0 rem-calc(60px) 0 0;
  }
}
