.top-navigation {
  display: flex;
  font-size: rem-calc(16px);
  padding: rem-calc(12px);
  //background: $primary-color;
  border-bottom: 1px solid $primary-color;
  border-bottom: 1px solid $light-gray;

  .title {
    flex: 1;

    a {
      color: $white;
      color: $primary-color;
    }
  }

  .language-switcher {
    .title, i {
      color: $mvj-text-color;
    }
  }

  .user-switcher {
    .title {
      color: $white;
      color: $primary-color;
      color: $mvj-text-color;
      text-transform: capitalize;
    }

    .mi {
      background: $white;
      background: $primary-color;
      color: $primary-color;
      color: $white;
      padding: .4rem;
      border-radius: 50%;
      margin-left: .2rem;
    }
  }
}
