.top-navigation {
  display: flex;
  font-size: rem-calc(16px);
  padding: rem-calc(12px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);

  .logo {
    margin-right: 2rem;

    .logo-image {
      img {
        height: 40px;
      }
    }
    .logo-image-sv {
      img {
        height: 40px;
        width: 115px;
      }
    }
  }
  .title {
    height: 40px;
    span{
      line-height: 40px;
      height: 40px;
      display: inline-block;
    }
  }
}
