.collapse {
  align-items: baseline;
  padding: 0;
  background-color: $green;
  margin-bottom: rem-calc(15px);
  display: block;

  &__header {
    padding: rem-calc(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      .arrow-icon {
        height: rem-calc(14px);
        width: rem-calc(14px);
        position: absolute;
        left: 0;
        top: 50%;
        @include transform(translateY(-50%));
      }

      @include focus();
    }


    .header-info-wrapper {
      flex: 1 1 0%;
      position: relative;

      .columns {
        display: flex;
        align-items: center;
      }

      .header-info-link {
        display: inline-block;
        float: left;
        cursor: pointer;
        padding-left: rem-calc(22px);
        margin-bottom: 0;
        text-decoration: none !important;
      }
    }

    &_button-wrapper {
      position: absolute;
      right: 0;
      align-items: center;
      top: 50%;
      @include transform(translate(0, -50%));
      display: flex;

      .form__archive-button {
        margin-left: rem-calc(10px);
      }

      .form__remove-button {
        margin-left: rem-calc(10px);
      }

      .form__unarchive-button {
        margin-left: rem-calc(10px);
      }
    }

    &_error-badge {
      background-image: url(../assets/icons/icon_error.svg);
      height: 14px;
      width: 14px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
    }

    &_subtitle {
      font-size: rem-calc(14px);
      line-height: rem-calc(16px);
      max-width: 100%;
      text-overflow: ellipsis;
      margin: 0;

      span {
        color: $dark-gray;
        display: inline-block;
        padding-right: rem-calc(7.5px);
      }
    }

    &_title {
      max-width: 100%;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $font-family-source;
      font-size: rem-calc(20px);
      line-height: rem-calc(20px);
      font-weight: $semibold;
      color: $black;
      margin: 0;
    }

    &-neutral {
      line-height: rem-calc(20px);
      display: flex;
      align-items: center;
      color: $dark-gray;
      font-size: $font-small;

      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon_minus.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    &-alert {
      line-height: rem-calc(20px);
      display: flex;
      align-items: center;
      color: $red;
      font-size: $font-small;

      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon-alert.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    &-success {
      line-height: rem-calc(20px);
      display: flex;
      align-items: center;
      color: $dark-green;
      font-size: $font-small;

      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon_checked.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    > span {
      flex: 1;
    }
  }

  &__content {
    overflow: hidden;
    position: relative;
    padding: 0;
    display: none;
  }

  &__content-wrapper {
    padding: 0 rem-calc(15px) rem-calc(5px);
  }

  // Opened stage
  &.open {
    .collapse__header {
      .arrow-icon {
        @include transform(translateY(-50%) rotate(90deg));
      }
    }

    .collapse__content {
      height: auto;
      overflow: visible;
      display: inherit;
    }
  }

  &.not-active {
    background-color: $light-gray-secondary;
  }

  &.archived {
    background-color: $light-gray-secondary;
  }

  &.is-collapsing,
  &.is-expanding
   {
    .collapse__content {
      @include transition(0.4s, max-height, ease);
      overflow: hidden;
      display: inherit;
    }

    .collapse__header {
      .arrow-icon {
        @include transition(0.4s, transform, ease-in-out);
      }
    }
  }

  &.collapse__secondary {
    background-color: $light-green;
    margin: rem-calc(5px) 0 rem-calc(15px);
    padding: 0;

    &.not-active {
      background-color: $lightest-gray;
    }

    .collapse__header {
      &_title {
        font-size: rem-calc(16px);
        text-transform: uppercase;
      }

      .arrow-icon {
        @include transform(translateY(-50%) rotate(0));
      }
    }

    .collapse__content {
      overflow: hidden !important;
    }

    .collapse__content-wrapper {
      padding: 0 rem-calc(15px) rem-calc(5px);
    }

    &.open {
      .collapse__content {
        overflow: visible !important;
      }

      .collapse__header {
        .arrow-icon {
          @include transform(translateY(-50%) rotate(90deg));
        }
      }
    }

    &.is-collapsing,
    &.is-expanding
     {
      .collapse__content {
        overflow: hidden !important;
      }
    }

    .collapse__third {
      .collapse__header {
        .arrow-icon {
          @include transform(translateY(-50%) rotate(0) !important);
        }
      }

      .collapse__content {
        overflow: hidden !important;
      }

      &.open {
        .collapse__header {
          .arrow-icon {
            @include transform(translateY(-50%) rotate(90deg) !important);
          }
        }
      }
    }
  }
}

.content-container .collapse:last-of-type {
  margin-bottom: 0;
}

.collapse .collapse.collapse__secondary:last-of-type {
  margin-bottom: rem-calc(10px);
}

.collapse .collapse.collapse__third:last-of-type {
  margin-bottom: rem-calc(10px);
}

.alert {
  color: $red;
  i {
    height: rem-calc(20px);
    width: rem-calc(20px);
    vertical-align: text-bottom;
    background-image: url(../assets/icons/icon-alert.svg);
    display: inline-block;
    margin-right: 0.4rem;
  }
}
