.collapse {
  align-items: baseline;
  padding: 0;
  background-color: $tram-lighter-solid;
  margin-bottom: rem-calc(15px);
  display: inline-block;
  width: 100%;

  .collapse__header {
    padding: rem-calc(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon-wrapper {
      padding-right: rem-calc(15px);
      cursor: pointer;
    }

    i.arrow-icon {
      background-image: url(../assets/icons/icon_accordion.svg);
      display: block;
      content: ' ';
      height: 15px;
      width: 7px;
      background-repeat: no-repeat;
      background-position: 0 50%;
      background-size: contain;

      @include transition(0.4s, transform, ease-in-out);
    }

    .header-info-wrapper {
      flex: 1 1 0%;
      margin-left: rem-calc(-22px);

      .header-info-link {
        display: inline-block;
        float: left;
        cursor: pointer;
        padding-left: rem-calc(22px);
      }
    }

    &-title {
      max-width: calc(100%);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-subtitle {
      display: inline-block;
      float: left;
      font-size: rem-calc(14px);
      line-height: rem-calc(22px);
      overflow: hidden;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis
    }

    &-neutral {
      line-height: rem-calc(22px);
      display: flex;
      align-items: center;
      color: $dark-gray;
      font-size: $font-small;

      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon_minus.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    &-alert {
      line-height: rem-calc(22px);
      display: flex;
      align-items: center;
      color: $brick;
      font-size: $font-small;

      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon-alert.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    &-success {
      line-height: rem-calc(22px);
      display: flex;
      align-items: center;
      color: $tram;
      font-size: $font-small;

      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon_checked.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    > span {
      flex: 1;
    }
  }

  &__content {
    overflow: hidden;
    padding: 0;

    @include transition(0.4s, max-height, ease);
  }

  &__content-wrapper {
    padding: 0 rem-calc(15px) rem-calc(5px);
  }

  // Opened stage
  &.open {
    .collapse__header {
      i.arrow-icon {
        @include rotate(90deg);
      }
    }

    .collapse__content {
      height: auto;

      @include transition(0.4s, max-height, ease);

      &.visible {
        overflow: visible;
      }
    }
  }

  &.not-active {
    background-color: $medium-gray;
  }

  &.is-resizing {
    .collapse__content {
      @include transition(null);
    }
  }

  &.collapse__secondary {
    background-color: rgba(255, 255, 255, 0.8);
    margin: rem-calc(5px) 0 rem-calc(10px);
    padding: 0;

    &.not-active {
      background-color: rgba(240, 240, 240, 0.8);
    }

    .collapse__header {
      &-subtitle {
        line-height: rem-calc(18px);
      }

      i.arrow-icon {
        @include rotate(0deg);
      }
    }

    .collapse__content {
      overflow: hidden !important;

      @include transition(0.4s, max-height, ease);
    }

    .collapse__content-wrapper {
      padding: 0 rem-calc(15px) rem-calc(5px);
    }


    &.open {
      .collapse__header {
        i.arrow-icon {
          @include rotate(90deg);
        }
      }
      .collapse__content {
        @include transition(0.4s, max-height, ease);

        &.visible {
          overflow: visible !important;
        }
      }
    }

    &.is-resizing {
      .collapse__content {
        @include transition(null);
      }
    }
  }
}


.content-container .collapse:last-of-type {
  margin-bottom: 0;
}

.collapse .collapse.collapse__secondary:last-of-type {
  margin-bottom: rem-calc(10px);
}

.alert {
  color: $brick;
  i {
    height: rem-calc(20px);
    width: rem-calc(20px);
    vertical-align: text-bottom;
    background-image: url(../assets/icons/icon-alert.svg);
    display: inline-block;
    margin-right: 0.4rem;
  }
}
