.app {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    flex: 1;
    display: flex;
  }

  .section__container {
    margin: auto;
  }

  .full__width {
    width: 100%;
    height: 100%;

    .row {
      width: 100%;
      flex-direction: column;
    }

    &.flex {
      display: flex;
      flex-flow: row wrap;
      flex-direction: column;
      //align-items: baseline;
      height: auto;
    }

    .row--flex {
      flex: 1;
    }
  }
}
