.app {
  margin-top: 4.375rem;
  width: 100%;
  display: block;
  overflow: hidden;

  &__content {
    flex: 1;
    display: flex;
  }
  .wrapper {
    display: flex;
    margin: 0 0 0 auto;
    position: relative;

    @include transition(0.3s, all, ease-in-out);
  }
}

.is-sidemenu-closed {
  width: 100%;
}

.is-sidemenu-open {
  width: calc(100% - 200px);
}
