.app {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    flex: 1;
    display: flex;
  }
  .wrapper {
    display: flex;
    margin: 0 0 0 auto;
    position: relative;
    transition: .3s ease-in-out;
  }
}

.is-sidemenu-closed {
  width: 100%;
}

.is-sidemenu-open {
  width: calc(100% - 200px);
}
