.side-menu {
  z-index: 1001;
  background-color: $engel-lighter-opaque;
  width: 268px;
  height: 100vh;
  position: fixed;
  top: -100%;
  padding: rem-calc(100px) 0 0 0;
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.09);

  @include transition(0.3s, all, ease-in-out);

  ul {
    list-style-type: none;
    margin: 0;
    color: $white;
    font-weight: $semibold;
    line-height: 2;

    li a {
      padding: 0 rem-calc(20px);
      color: $black;
      cursor: pointer;
      display: inline-block;
      width: 100%;

      &:focus {
        outline-color: $tram;
        outline-offset: -2px;
        outline-width: 2px;
        outline-style: dotted;
      }

      &:hover {
        color: $black;
        background-color: $engel;
        outline: none;
      }
    }
  }

}

.is-menu-open {
  top: 0;
}
