@use "foundation-sites/scss/foundation" as *;
@use "../../styles/variables";
@use "../../styles/mixins";

.side-menu {
  z-index: 1050;
  background-color: variables.$white;
  width: 268px;
  height: 100vh;
  position: fixed;
  top: -100vh;
  padding: rem-calc(92px) 0 0 0;
  box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.09);

  &.is-closing {
    @include mixins.transition(0.5s, all, ease-in-out);
  }

  &.is-opening {
    @include mixins.transition(0.5s, all, ease-in-out);
  }

  ul {
    list-style-type: none;
    margin: 0;
    color: variables.$white;
    font-weight: variables.$semibold;
    line-height: 2;

    li a {
      padding: 0 rem-calc(20px);
      color: variables.$black;
      cursor: pointer;
      display: inline-block;
      width: 100%;

      &:focus {
        outline-color: variables.$blue;
        outline-offset: -2px;
        outline-width: 2px;
        outline-style: dotted;
      }

      &:hover {
        color: variables.$black;
        background-color: variables.$light-blue;
        outline: none;
      }
    }
  }

  &__submenu {
    position: relative;

    &_header {
      display: flex !important;
      align-items: center;

      span {
        flex: 1 1 0%;
      }

      .icons {
        @include mixins.transform(rotate(180deg));
      }
    }

    &_items {
      position: absolute;
      left: 100%;
      top: 0;
      background-color: variables.$white;
      box-shadow: 2px 0 3px 0 rgba(0, 0, 0, 0.09);
      display: none;

      li a {
        white-space: nowrap;
      }
    }

    &--is-open {
      background-color: variables.$white;

      .side-menu__submenu_items {
        display: block;
      }
    }
  }
}

.is-menu-open {
  top: 0;
}
