.mvj-button {
  font-size: rem-calc(13px);
  font-weight: 600;
  color: $black;
  background: $summer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.07);
  height: 2.25rem;
  padding: 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 0.5rem;

  &.button-green {
    background-color: $kelley-green;
    color: $white;
  }

  &.button-red {
    background-color: $brick;
    color: $white;
  }
}

.mvj-button:hover {
  opacity: 0.85;
}
.mvj-button:focus {
  outline: none;
}

.mvj-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
