.collapse {
  border-top: 1px dashed $tram;
  align-items: baseline;
  padding: 0.6rem 0 1rem;

  .collapse__header {
    padding: 0 0 0.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &-title {
      font-size: $font-large;
      font-weight: $semibold;
      line-height: 1.6;
      display: inline-block;
      text-transform: capitalize;
      &-nocap {
        text-transform: none;
      }
    }


    &-subtitle {
      font-size: $font-regular;
      line-height: rem-calc(32px);
      height: rem-calc(32px);
      display: inline-block;
    }

    &-neutral {
      color: $dark-gray;
      font-size: $font-small;
      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon_minus.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    &-alert {
      color: $brick;
      font-size: $font-small;
      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon-alert.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    &-success {
      color: $tram;
      font-size: $font-small;
      i {
        height: rem-calc(20px);
        width: rem-calc(20px);
        vertical-align: text-bottom;
        background-image: url(../assets/icons/icon_checked.svg);
        display: inline-block;
        margin-right: 0.4rem;
      }
    }

    > span {
      flex: 1;
    }

    i.arrow-icon {
      background-image: url('../assets/icons/icon_arrow_down.svg');
      display: block;
      position: absolute;
      content: ' ';
      height: rem-calc(20px);
      width: rem-calc(20px);
      top: calc(50% - 15px);
      right: rem-calc(10px);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  // Opened stage
  &.open {
    .collapse__header {
      i.arrow-icon {
        background-image: url('../assets/icons/icon_arrow_up.svg');
      }
    }

    .collapse__content {
      height: auto;
      max-height: 2000px;
      transition: max-height 0.4s ease;
    }
  }

  &.collapse__secondary {
    background-color: rgba(0, 146, 70, 0.15);
    border-top: none;
    margin: 0.6rem 0;
    align-items: baseline;
    padding: 0;

    .collapse__header {
      padding: rem-calc(6px) rem-calc(20px);
      &-title {
        color: $tram;
        font-weight: $semibold;
        font-size: $font-regular;
        text-transform: uppercase;
      }
      i.arrow-icon {
        background-image: url('../assets/icons/icon_arrow_down-green.svg');
        display: block;
        position: absolute;
        content: ' ';
        height: rem-calc(16px);
        width: rem-calc(16px);
        top: calc(50% - 8px);
        right: rem-calc(12px);
      }
    }

    .collapse__content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
    }

    .collapse__content-wrapper {
      padding: rem-calc(10px) rem-calc(20px) rem-calc(10px);
    }

    &.open {
      .collapse__header {
        i.arrow-icon {
          background-image: url('../assets/icons/icon_arrow_up-green.svg');
        }
      }

      .collapse__content {
        max-height: 500px;
        transition: max-height 0.4s ease;
      }
    }
  }
}

.alert {
  color: $brick;
  i {
    height: rem-calc(20px);
    width: rem-calc(20px);
    vertical-align: text-bottom;
    background-image: url(../assets/icons/icon-alert.svg);
    display: inline-block;
    margin-right: 0.4rem;
  }
}
