.icon-radio-buttons {
  display:inline-block;

  .label {
    padding: 0.5rem 0.25rem;
    background: none;
    cursor: pointer;
  }

  .label:first-child {
    padding-left: 0;
  }

  .label:last-child {
    padding-right: 0;
  }

  .radio {
    display: none;
    margin: 0;
  }

  .option-label {
    color: $black;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    height: rem-calc(30px);
    line-height: rem-calc(30px);
    border-radius: 0;
    padding: 0 0.5rem;

    @include transition(0.2s, all, ease);
  }


  .radio:checked + .option-label {
    background: transparent;
    border: none;
    color: $tram;
  }
  img {
    margin-bottom: 3px;
    height: 24px;
    width: 24px;
  }
}
