.modal {
  .modal__wrapper {
    z-index: 1001;
    background-color: $white;
    width: rem-calc(800px);
    max-width: 100%;
    position: fixed;
    top: -1000px;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    transition: top .5s ease;

    @include breakpoint(small only){
      left: 0;
    }
  }
  &__header {
    padding: rem-calc(35px) rem-calc(35px) 0;
    h1.title {
      font-family: $font-family-source;
	    font-size: rem-calc(24px);
	    font-weight: 600;
	    text-align: left;
	    color: $black;
      margin: 0;
    }
  }

  &__content {
    padding: rem-calc(35px) rem-calc(35px);
    height: 18rem;
  }

  .close-button svg {
    width: 22px;
    height: 22px;
    margin-top: 0.6rem;
    fill: $black;
  }

  .modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
  }

  &.modal-open {
    .modal__wrapper {
      top: 20%;
    }

    .modal__overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}
