.table {
  @include table(none);

  border-spacing: 0;

  thead {
    border: none;
  }

  thead th, thead td {
    background-color: $engel;
    font-size: rem-calc(14px);
	  font-weight: 600;
	  text-align: left;
	  color: $black;
    padding: 0.36rem 0.75rem 0.3rem;
    border: none;
    display: table-cell;
  }

  tbody th, tbody td {
    border-bottom: 1px solid $light-gray;
    padding: 0.36rem 0.75rem 0.3rem;
    font-size: rem-calc(14px);
	  text-align: left;
	  color: $black;
  }

  tfoot {
    th,
    td {
      font-weight: $global-weight-normal;
    }
  }
  &.clickable-row {
    tbody {
      tr {
        &:hover > td {
          cursor: pointer;
          background-color: lighten($engel, 50%) !important;
          color: $black !important;
        }
      }
    }
  }
}
