@use "hds-design-tokens/lib/all" as hds;

.background-color-light-grey {
  background-color: hds.$color-black-5;
}
.contact-search-container {
  gap: 1rem;
  padding: 0 0.5rem 0.5rem 0.5rem;

  &__vertical_center {
    display: flex;
    align-items: center;
  }
}

#contact-list-table tbody tr:hover td,
#contact-list-table tbody tr:focus-within td {
  background-color: hds.$color-bus-light;
  transition: background-color 120ms ease-in-out;
}

#contact-list-table tbody td {
  // Maintains text alignment for rows with multi-line expandable content.
  vertical-align: top;
  // More compact table rows, and uninterrupted clickability horizontally.
  padding: 0.3rem 0;
}

#contact-list-table tbody td:first-child {
  // Small padding for the first table column.
  padding-left: 0.6rem;
}

#contact-list-table .contact-list-row-link {
  all: unset;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  // More compact table rows, and uninterrupted clickability horizontally.
  padding: 0.3rem 0;
}

#contact-list-table .contact-list-row-link:focus-visible {
  outline: 2px solid hds.$color-focus-outline;
  outline-offset: -2px;
}

.contact-list-expand-button {
  // More compact table rows with expandable content.
  padding: 0;
}
