.applications {
  display: flex;
  width: 100%;

  .mvj-hero__content {
    padding: rem-calc(50px 0 15px 0);
  }

  &__search {
    label {
      color: $white;
      font-weight: 500;
    }

    .form-field__input--search {
      margin: 0;
      background: rgba(255, 255, 255, .07);
      border: 1px solid rgba(255, 255, 255, .18);
      color: $white;
    }
  }

  &__list {
    @include grid-row();
    flex: 1;
    //background: $lightest-gray;

    .applications--form-open & {
      width: 33%;
      max-height: calc(100vh - 50px);
      overflow: auto;
    }

    h2 {
      padding: 1rem .5rem;
      font-size: rem-calc(24px);
      color: $dark-gray;
    }

    table {
      @include -zf-table-unstripe();
      width: 100%;

      thead,
      tbody,
      tfoot {
        background: transparent;

        > tr {
          background: transparent;
        }
      }

      tbody {
        tr {
          > td {
            border-top: 2px solid $medium-gray;
          }

          &:hover > td {
            @include transition();
            cursor: pointer;
            background: $white;
            color: $primary-color;
          }

          &:last-child > td {
            border-bottom: 2px solid $medium-gray;
          }
        }
      }
    }
  }
}
