.applications {
  display: flex;
  width: 100%;

  .mvj-hero__content {
    padding: rem-calc(50px 0 15px 0);
  }

  &__search {
    label {
      color: $white;
      font-weight: 500;
    }

    .form-field__input--search {
      margin: 0;
      background: rgba(255, 255, 255, .07);
      border: 1px solid rgba(255, 255, 255, .18);
      color: $white;
    }
  }

  &__list {
    @include grid-row();
    flex: 1;
    //background: $lightest-gray;

    .applications--form-open & {
      width: 33%;
      max-height: calc(100vh - 50px);
      overflow: auto;
    }

    h2 {
      padding: 1rem .5rem;
      font-size: rem-calc(24px);
      color: $dark-gray;
    }

    table {
      width: 100%;

      thead {
        > tr {
          background: darken($secondary-color, 5%);
          color: $white;

          > th {
            font-size: inherit;
            font-weight: 600;
            padding: .625rem .8rem;
          }
        }
      }

      tbody {
        tr {
          &:hover > td {
            @include transition();
            //cursor: pointer;
            background: $white;
            color: $primary-color;
          }
        }
      }
    }

    .controls {
      text-align: right;
    }

    &--edit {
      @extend .button;
      @extend .tiny;
      margin: 0 0 0 rem-calc(5px);
    }

    &--add {
      @extend .button;
      @extend .tiny;
      margin: 0 0 0 rem-calc(5px);
    }
  }
}
