.billing-section {
  .alert {
    color: $brick;
    text-align: right;
    line-height: rem-calc(33px);

    i {
      height: rem-calc(20px);
      width: rem-calc(20px);
      vertical-align: text-bottom;
      background-image: url(../assets/icons/icon-alert.svg);
      display: inline-block;
      margin-left: 0.4rem;
    }
  }

  .success {
    color: $tram;
    text-align: right;
    line-height: rem-calc(33px);

    i {
      height: rem-calc(20px);
      width: rem-calc(20px);
      vertical-align: text-bottom;
      background-image: url(../assets/icons/icon_checked.svg);
      display: inline-block;
      margin-left: 0.4rem;
    }
  }

  table.abnormal-debts-table {
    border: 1px solid #d7d5d5;

    thead {
      tr {
        th {
          border: none;
          border-bottom: 1px solid $light-gray;
          padding: 0.3rem 0.5rem;
          font-size: $font-xsmall;
          font-weight: $semibold;
          color: $black;
        }
      }
    }

    tbody {
      tr {
        td {
          border: none;
          padding: 0.5rem;
          line-height: 1;
        }

        td.action-buttons {
          width: rem-calc(70px);
        }
      }

      tr:hover {
        background-color: rgba(0, 146, 70, 0.1);
      }

      tr.selected {
        background-color: rgba(0, 146, 70, 0.2);
      }

      tr.no-data {
        text-align: center;
        background-color: $lightest-gray;
      }
    }

    .action-button {
      height: rem-calc(20px);
      width: rem-calc(20px);
      margin: 0 rem-calc(3px);
      cursor: pointer;
    }

    .action-button:hover {
      opacity: 0.85;
    }

    .button-edit {
      background-image: url(../assets/icons/icon_edit.svg);
    }

    .button-delete {
      background-image: url(../assets/icons/trash.svg);
    }
  }
}
