.bill-modal {
  position: absolute;
  width: 700px;
  max-width: 100%;
  height: 0;
  top: 0;
  right: -700px;
  z-index: 2;
  border: none;
  background-color: $white;
  overflow: hidden;
  margin-left: 10px;

  @include transition(0.5s, right, ease-in-out);

  &__container {
    padding: rem-calc(20px);
    background-color: $tram-lighter-solid;
    height: 100%;
  }

  &.is-open {
    height: 100%;
    right: 0;

    @include transition(0.5s, right, ease-in-out);
  }

  &__header {
    position: relative;

    h1 {
      font-family: $font-family-source;
	    font-size: $font-large;
      font-weight: $semibold;
      margin: 0 0 rem-calc(20px) !important;
      color: $tram;
    }
  }
  &__body {
    max-height: calc(100% - 30px);
    overflow-y: auto;
    overflow-x: hidden;

    &.with-footer {
      max-height: calc(100% - 60px);
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: rem-calc(10px) rem-calc(20px) rem-calc(20px);
  }
}
