.mvj__sidebar {
  color: $white;

  &__close {
    @include transition();
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 2rem;

    &:hover {
      color: darken($white, 20%);
    }
  }

  &__content {
    padding: 1.5rem 1rem;
  }
}
