.table-controllers {
  width: 100%;
  margin: 0 0 rem-calc(10px);
  display: flex;
  align-items: center;

  .title-wrapper {
    flex: 1 1 0%;

    span {
      font-size: rem-calc(18px);
      font-weight: 600;
      padding: 0;
      display: block;
    }
  }

  .button-selector-wrapper {

  }

  .icon-selector-wrapper {
    text-align: right;
    margin-left: rem-calc(25px);
  }
}
