.table {
  @include table(none);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);

  border-spacing: 0;

  thead {
    border: none;
  }

  thead th, thead td {
    background-color: $engel;
    font-size: $font-small;
	  font-weight: 600;
	  text-align: left;
	  color: $black;
    padding: 0.36rem 0.75rem 0.3rem;
    border: none;
    display: table-cell;
  }

  tbody th, tbody td {
    border-bottom: 1px solid $light-gray;
    padding: 0.36rem 0.75rem 0.3rem;
    font-size: rem-calc(14px);
	  text-align: left;
	  color: $black;
  }

  tfoot {
    th,
    td {
      font-weight: $global-weight-normal;
    }
  }

  tr.no-data {
    td {
      background-color: $lightest-gray;
      text-align: center;
    }
  }

  &.clickable-row {
    tbody {
      tr {
        &:hover > td {
          cursor: pointer;
          background-color: $engel-lighter;
        }
      }
    }
  }

  &__fixed-layout {
    table-layout: fixed;
  }

  &__sortable {
    &_header-link {
      cursor: pointer;

      div {
        display: flex;
        align-items: center;
      }
    }

    &_sort-icon {
      fill: $black;
      margin-left: 5px;
      height: 14px;
      width: 14px;
      min-width: 14px
    }
  }

  &__secondary {
    border: 1px solid #d7d5d5;
    margin: 0;
    margin-bottom: rem-calc(10px);

    thead th {
      border: none;
      border-bottom: 1px solid $light-gray;
      padding: 0.3rem 0.5rem;
      font-size: rem-calc(13px);
      font-weight: $semibold;
      color: $black;
      background-color: $white;
    }

    tbody td {
      border: none;
      padding: 0.3rem 0.5rem;
      font-size: rem-calc(14px);
    }

    &.clickable-row {
      tbody {
        tr {
          &:hover > td {
            background-color: #D9EFE4;
          }
        }
      }
    }
  }

  &__fixed-header {
    margin-bottom: rem-calc(10px);
    position: relative;
    border: 1px solid #d7d5d5;
    padding-top: rem-calc(31px);
    background: $white;

    &_wrapper {
      overflow-y: auto;
      height: rem-calc(136px);
    }

    &_header-border {
      width: 100%;
      position: absolute;
      top: rem-calc(30px);
      border-bottom: 1px solid $light-gray;
    }

    table {
      margin-bottom: 0;
      border-collapse: collapse;
      box-shadow: none;

      thead {
        border: none;

        th {
          height: 0;
          line-height: 0;
          padding: 0 0.5rem;
          color: transparent;
          border: none;
          white-space: nowrap;

          div{
            position: absolute;
            background: transparent;
            color: #fff;
            padding: 0;
            top: 0;
            margin-left: 0;
            line-height: rem-calc(30px);
            font-size: rem-calc(13px);
            font-weight: $semibold;
            color: $black;
          }
        }
      }

      tbody {
        border: none;

        tr:hover {
          background-color: $tram-lighter-solid;
        }

        tr.no-data {
          td {
            background-color: $lightest-gray;
            text-align: center;
          }
        }

        td {
          border-bottom: none;
          padding: 0.3rem 0.5rem;
          font-size: rem-calc(14px);

          div.text-container {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: rem-calc(4px);

  &__page-item {
    a {
      position: relative;
      display: block;
      padding: rem-calc(8px 12px);
      margin-left: -1px;
      line-height: 1.25;
      height: rem-calc(35px);
      min-width: rem-calc(35px);
      text-align: center;
      color: $black;
      background-color: $white;
      border: 1px solid $medium-gray;
      border-right: none;
    }

    &.disabled {
      padding: 0;
      cursor: unset;

      a {
        background-color: $light-gray;
        pointer-events: none;
        cursor: auto;
      }
    }

    &.active {
      a {
        z-index: 1;
        color: $black;
        pointer-events: none;
        background-color: $engel;
      }
    }

    &:last-child {
      a {
        border-right: 1px solid $medium-gray;
      }
    }
  }

  &__next-icon {
    height: 17px;
    display: flex;
    align-items: center;

    svg {
      height: 14px;
      width: 14px;
    }
  }

  &__previous-icon {
    height: 17px;
    display: flex;
    align-items: center;

    svg {
      height: 14px;
      width: 14px;
      @include transform(rotateY(180deg));
    }
  }
}
