.tooltip {
  &__component {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__container {
    position: relative;

    button {
      cursor: pointer;
    }

    .icons {
      height: 15px;
      width: 15px;

      &:hover {
        fill: $dark-green-hover;

        #Artboard {
          fill: $dark-green-hover;
        }
      }
    }
  }

  &__text-container {
    position: absolute;

    z-index: 1010;
    width: 350px;


    &_wrapper {
      background-color: $white;
      padding: rem-calc(15px);
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
      display: inline-block;
      max-width: 350px;
      text-align: left;

      &.edit-container {
        width: 350px;
      }
    }

    &::after {
      content: " ";
      position: absolute;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
    }

    &.position-bottom-left {
      top: 27px;
      right: -15px;
      text-align: right;

      &::after {
        bottom: 100%;
        right: 12px;
        border-color: transparent transparent $white transparent;
      }
    }

    &.position-bottom-right {
      top: 27px;
      left: -15px;
      text-align: left;

      &::after {
        bottom: 100%;
        left: 24px;
        border-color: transparent transparent $white transparent;
      }
    }

    &.position-top-left {
      bottom: 27px;
      right: -15px;
      text-align: right;

      &::after {
        top: 100%;
        right: 12px;
        border-color: $white transparent transparent transparent;
      }
    }

    &.position-top-right {
      bottom: 27px;
      top: unset;
      left: -15px;
      right: unset;
      text-align: left;

      &::after {
        top: 100%;
        left: 24px;
        border-color: $white transparent transparent transparent;
      }
    }

    .close-button-component {
      margin-right: 0;
      margin-left: auto;
      display: block;
    }

    p {
      margin: 0;
      color: $black;
      white-space: pre-line;
      display: inline-block;
    }
  }
}
