.control-buttons {
  display: flex;
  float: right;
  padding-top: rem-calc(20px);

  .comment-button {
    display: inline-block;
    margin-left: 3rem;
    margin-right: 0;
    cursor: pointer;
    position: relative;
    line-height: 1;
  }
  .commentIcon {
    width: rem-calc(30px);
    height: rem-calc(30px);
    fill: $black;
  }
  .circle {
    position: absolute;
    font-size: rem-calc(13px);
    line-height: 1;
    padding: rem-calc(4px);
    color: $white;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    background-color: $brick;
    top: rem-calc(-6px);
    right: rem-calc(-10px);
    min-width: rem-calc(21px);
  }
  .left-buttons {
    .mvj-button:last-child {
      margin-right: 0;
    }
  }
}

.control-button-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem-calc(20px);

  .info-component-wrapper {
    flex: 1 1 0%;
  }

  .control-buttons-wrapper {

  }
}
