.control-buttons {
  display: flex;
  float: right;

  &__comment-button {
    display: inline-block;
    margin-left: 3rem;
    margin-right: 0;
    cursor: pointer;
    position: relative;
    line-height: 1;

    @include focus();

    &:hover {
      outline: none;
    }

    .comment-icon {
      width: rem-calc(30px) !important;
      height: rem-calc(30px);
      fill: $black;
      stroke: $black;
    }

    .comment-amount {
      position: absolute;
      font-size: rem-calc(13px);
      line-height: 1;
      padding: rem-calc(4px);
      color: $white;
      font-weight: 600;
      text-align: center;
      border-radius: 50%;
      background-color: $brick;
      top: rem-calc(-6px);
      right: rem-calc(-10px);
      min-width: rem-calc(21px);
    }
  }

  &__left-button-wrapper {
    .mvj-button:last-child {
      margin-right: 0;
    }
  }
}

.control-button-bar {
  position: fixed;
  z-index: 1000;
  background-color: $light-gray;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
    padding: 10px 20px;
  }

  .back-button-wrapper {
    flex: 0 0 0;
    align-self: flex-end;
    padding-right: rem-calc(15px);

    button {
      cursor: pointer;
    }

    .icons {
      fill: $tram;
    }
  }

  .info-component-wrapper {
    flex: 1 1 0%;
    padding-right: rem-calc(7.5px);
    align-self: center;

    h1 {
      font-family: $font-family-source;
      font-size: rem-calc(22px);
      font-weight: $semibold;
      line-height: rem-calc(24px);
      color: $black;
      margin: 0;
    }
  }

  .control-buttons-wrapper {
    align-self: flex-end;
  }
}
