.icons {
  fill: $black;
  vertical-align: sub;
  height: rem-calc(25px);
  width: rem-calc(25px);
  margin-right: rem-calc(10px);

  &.icon-medium {
    height: rem-calc(20px);
    width: rem-calc(20px);
  }
}
