.icons {
  fill: $tram;
  stroke: $tram;
  vertical-align: sub;
  height: rem-calc(25px);
  width: rem-calc(25px);

  &.icons__trash {
    #Artboard {
      fill: $tram;
    }
  }

  &.icons__copy-to-clipboard {
    #Artboard {
      fill: $tram;
    }
  }

  &.icons__archive {
    stroke: none !important;
  }

  &.icon-medium {
    height: rem-calc(20px);
    width: rem-calc(20px);
  }
}
