@import "./styles/fonts";
@import "./styles/variables";
@import "~foundation-sites/scss/foundation";
@import '~react-leaflet-fullscreen/dist/styles.css';
@import "styles/mixins";

@include foundation-everything(true);

// Vendor
@import "~react-redux-toastr/src/styles/index";
@import "~react-select/dist/react-select.css";
@import "~react-datepicker/dist/react-datepicker.css";
@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';
@import '~react-dual-listbox/lib/react-dual-listbox.css';
@import '~font-awesome/css/font-awesome.css';
@import "components/map/leaflet";

// Components
@import "components/button/button";
@import "components/button/close-button";
@import "components/button/icon-radio-buttons";
@import "components/button/styled-checkbox-buttons";
@import "components/collapse/collapse";
@import "components/commentPanel/comment-panel";
@import "components/content/content";
@import "components/controlButtons/control-buttons";
@import "components/dropdown/action-dropdown";
@import "components/file/file";
@import "components/form/form";
@import "components/icons/icons";
@import "components/inputs/dual-list-box-input";
@import "components/inputs/search-input";
@import "components/inputs/select-input";
@import "components/inputs/single-checkbox-input";
@import "components/inputs/text-area-input";
@import "components/inputs/text-input";
@import "components/invoice-simulator/invoice-simulator";
@import "components/links/links";
@import "components/loader/loader";
@import "components/map/leaflet";
@import "components/map/map";
@import "components/modal/modal";
@import "components/modal/confirmation-modal";
@import "components/multi-select/multi-select";
@import "components/rent-calculator/rent-calculator";
@import "components/search/search";
@import "components/sideMenu/side-menu";
@import "components/showMore/show-more";
@import "components/table/table";
@import "components/table/table-controllers";
@import "components/tabs/tabs";
@import "components/toastr/toastr";
@import "components/topNavigation/top-navigation";

// App
@import "api/api";
@import "app/app";
@import "areaNote/components/save-condition-panel";
@import "auth/components/login-page";
@import "leases/components/createLease/create-lease";
@import "leases/components/leaseSections/constructability/constructability";
@import "leases/components/leaseSections/invoice/invoice";
@import "leases/components/leaseSections/invoice/invoice-modal";
@import "leases/components/leaseSections/leaseInfo/lease-info";
@import "leases/components/leaseSections/rent/rent";
@import "leases/components/leaseSections/summary/summary";
@import "leases/components/leaseSections/tenant/tenant-edit";
@import "leases/components/lease-page";
@import "leases/components/search/search";
@import "rentbasis/components/rent-basis-page";

@import "foundation/styles";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  overflow-y: auto;
  height: calc(100% - 60px);
  background-color: $light-gray;
}

#root {
  display: block;
  height: 100%;
  font-family: $font-family-source;
  background: $light-gray;
  color: $black;
}
