@import "./styles/fonts";
@import "./styles/variables";
@import "~foundation-sites/scss/foundation";
@include foundation-everything(true);
@include foundation-flex-grid;

@import '~react-leaflet-fullscreen/dist/styles.css';
@import "styles/mixins";

// Vendor
@import "~react-redux-toastr/src/styles/index";
@import "~react-datepicker/dist/react-datepicker.css";
@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';
@import 'node_modules/react-dual-listbox/src/scss/react-dual-listbox.scss';
@import '~font-awesome/css/font-awesome.css';

// Components
@import "components/authorization/authorization";
@import "components/address-search/address-search-input";
@import "components/button/button";
@import "components/button/close-button";
@import "components/button/icon-radio-buttons";
@import "components/collapse/collapse";
@import "components/content/content";
@import "components/controlButtons/control-buttons";
@import "components/file/file";
@import "components/form/form";
@import "components/icons/icons";
@import "components/inputs/inputs";
@import "components/inputs/dual-list-box-input";
@import "components/inputs/search-input";
@import "components/inputs/select-input";
@import "components/inputs/text-area-input";
@import "components/inputs/text-input";
@import "components/invoice-simulator/invoice-simulator";
@import "components/links/links";
@import "components/loader/loader";
@import "components/map/leaflet";
@import "components/map/map";
@import "components/modal/modal";
@import "components/modal/confirmation-modal";
@import "components/multi-select/multi-select";
@import "components/rent-calculator/rent-calculator";
@import "components/search/search";
@import "components/showMore/show-more";
@import "components/sideMenu/side-menu";
@import "components/table/table";
@import "components/tabs/tabs";
@import "components/tooltip/tooltip";
@import "components/toastr/toastr";
@import "components/topNavigation/top-navigation";

// App
@import "api/api";
@import "app/app";
@import "areaNote/components/area-note-map";
@import "auth/components/login-page";
@import "creditDecision/components/credit-decision";
@import "errorPage/error-page";
@import "leases/components/createLease/create-lease";
@import "leases/components/leaseSections/comments/comment-panel";
@import "leases/components/leaseSections/constructability/constructability";
@import "leases/components/leaseSections/invoice/invoice";
@import "leases/components/leaseSections/invoice/invoice-panel";
@import "leases/components/leaseSections/leaseInfo/lease-info";
@import "leases/components/leaseSections/rent/rent";
@import "leases/components/leaseSections/summary/summary";
@import "leases/components/leaseSections/tenant/tenant-edit";
@import "rentbasis/components/rent-basis-page";
@import "plotSearch/components/plotSearchSections/application/application";
@import "plotSearch/components/plotSearchSections/basicInfo/basic-info";
@import "plotSearch/components/reservationIdentifiers/reservation-identifiers-modal";
@import "plotApplications/components/plotApplication";
@import "plotApplications/components/plotApplicationEdit";
@import "plotApplications/components/infoCheck/plotApplicationInfoCheckCollapse";
@import "plotApplications/components/exportModal/PlotSearchExportModal";
@import "areaSearch/components/area-search-application";
@import "areaSearch/components/map/area-search-selected-area-mini-map";
@import "areaSearch/components/area-search-status-note-history";
@import "application/components/applicant-info-check";

@import "foundation/styles";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  overflow-y: auto;
  height: calc(100% - 60px);
  background-color: $body-background;
}

abbr {
  border-bottom: none;
  cursor: default;
}

abbr[title] {
  text-decoration: none;
  cursor: help;
}

#root {
  display: block;
  height: 100%;
  font-family: $font-family-source;
  background-color: $body-background;
  color: $black;
}

// Safari-specific fix for hiding contact information autofill buttons
//noinspection CssInvalidPseudoSelector
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
