@import "./styles/fonts";
@import "./styles/variables";
@import "~foundation-sites/scss/foundation";
@import "styles/mixins";

@include foundation-everything(true);

// Vendor
@import "~react-redux-toastr/src/styles/index";
@import "components/map/leaflet";

// Components
@import "components/applicationList/applicationList";
@import "components/dropdown/dropdown";
@import "components/hero/hero";
@import "components/table/table";
@import "components/tabs/tabs";
@import "components/topNavigation/top-navigation";
@import "components/collapse/collapse";
@import "components/form/form";
@import "components/map/map";

// App
@import "./api/api";
@import "./app/app";
@import "./applications/application-form";
@import "./applications/application-list";
@import "./applications/form/summary";
@import "./applications/form/property-unit";
@import "./applications/form/tenants";
@import "./errorPage/error-page";
@import "./role/role-selector";

::selection {
  background: $primary-color;
  color: #fff;
  text-shadow: 0 0 0;
}

::-moz-selection {
  background: $primary-color;
  color: #fff;
  text-shadow: 0 0 0;
}

::-webkit-selection {
  background: $primary-color;
  color: #fff;
  text-shadow: 0 0 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  overflow-y: auto;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
