.list-control {
  > a {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 22px;
  }
}
