@use "../../styles/variables";

.map {
  flex: 1;
  height: 70vh;
  .leaflet-container {
    height: 100%;
  }
  .leaflet-tooltip {
    border-radius: 0;
    border: none;
    span {
      font-family: variables.$font-family-source;
      font-size: variables.$font-xsmall;
    }
  }
}
