.invoice {
  &__add-invoice {
    margin-top: rem-calc(5px);
    margin-bottom: rem-calc(10px);

    &_form {
      margin-top: rem-calc(15px);
    }
  }

  &__invoice-table {
    position: relative;
    z-index: 3;
    overflow: hidden;

    .table-wrapper {
      width: 100%;
      z-index: 1;
      @include transition(0.5s, all, ease-in-out);
    }

    .invoice-fixed-table {
      border: none;

      .table-fixed-header__container {
        height: 1000px;
        overflow: auto;
      }

      table tbody tr {
        cursor: pointer;

        &:hover {
          background-color: #D9EFE4;
        }
        &.selected {
          background-color: #D9EFE4;
        }

        &.active {
          background-color: #D9EFE4;
        }

        &.no-data {
          text-align: center;
          background-color: $lightest-gray;
        }

        td.action-buttons {
          width: rem-calc(50px);
          line-height: 1;
        }

        .action-button {
          height: rem-calc(20px);
          width: rem-calc(20px);
          margin: 0 rem-calc(3px);
          cursor: pointer;
        }

        .action-button:hover {
          opacity: 0.85;
        }

        .button-edit {
          background-image: url(../assets/icons/icon_edit.svg);
        }

        .button-delete {
          background-image: url(../assets/icons/trash.svg);
        }
      }
    }
  }

  &__rows {
    &_amount {
      text-align: right;
      white-space: nowrap;
      overflow: visible;
    }
  }
}
