@use "foundation-sites/scss/foundation" as *;
@use "../../../../styles/variables";
@use "../../../../styles/mixins";

.invoice-panel {
  background-color: variables.$white;
  position: absolute;
  width: 607.5px;
  max-width: 100%;
  height: auto;
  top: 0;
  right: -607.5px;
  z-index: 2;
  border: none;
  overflow: visible;
  border-left: rem-calc(15px) solid variables.$green;

  @include mixins.transition(0.5s, right, ease-in-out);

  &.is-open {
    right: 0;
    @include mixins.transition(0.5s, right, ease-in-out);
  }

  &__container {
    padding: rem-calc(15px);
    background-color: variables.$white;
    height: 100%;
  }

  &__header {
    position: relative;

    h1 {
      font-family: variables.$font-family-source;
      font-size: variables.$font-large;
      font-weight: variables.$semibold;
      margin: 0 0 rem-calc(20px) !important;
      color: variables.$black;
    }
  }

  &__body {
    height: 100%;
    padding-bottom: 0;

    &.with-footer {
      padding-bottom: rem-calc(40px);
    }
  }

  &__error-text {
    color: variables.$red;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: rem-calc(10px) rem-calc(15px) rem-calc(15px);
    text-align: right;

    .mvj-button:last-child {
      margin-right: 0;
    }
  }
}
