.tenants {
  button {
    @include lightButton;
  }
}

.tenant {
  margin: rem-calc(0 0 15px 0);
  padding: rem-calc(30px 15px);
  border: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;

  &__title {
    font-size: rem-calc(20px);
    margin-bottom: rem-calc(30px);
    flex: 1 0 100%;
  }

  &__edit {
    flex: 1 0 100%;
    margin-top: rem-calc(30px);
  }

  &__section {
    flex: 1;

    h4 {
      font-size: rem-calc(18px);
      color: $dark-gray;
    }

    p {
      margin: 0;
      padding: 0;
    }

    &--primary {
      font-weight: 500;
      margin-bottom: rem-calc(8px) !important;
    }
  }
}
