table {
  @include table(none);

  border-spacing: 0;

  thead th, thead td {
    border-bottom: 1px solid #eee;
    font-size: .8rem;
    padding-bottom: .3rem;
  }

  tbody th, tbody td {
    border-bottom: 1px solid #eee;
  }

  thead,
  tfoot {
    th,
    td {
      font-weight: $global-weight-normal;
    }
  }
  &.clickable-row {
    tbody {
      tr {
        &:hover > td {
          @include transition();

          cursor: pointer;
          background: $light-gray !important;
          color: $primary-color;
        }
      }
    }
  }
}
